{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

{{ macros.title(title, label) }}

{% if data.grimoire %}
<div class="card">
    <p><strong>Grimoire:</strong> <a href="{{ data.grimoire.link }}">
        {{ data.grimoire.properties.identifier }}</a></p>
</div>
{% endif %}

{{ macros.worldcat(data.properties.identifier) }}

{{ macros.content(data.properties) }}

{% if data.has_details %}
{{ macros.details(data.properties) }}
<ul>
    {% if data.publisher or data.editors %}
    {% for field in ["publisher", "editors"] %}
    {% if data[field] %}
    <li>{{ field | capitalize }}:
        <span class="comma-separated">
            {% for item in data[field] %}
            <a href="{{ item.link }}">{{ item.properties.identifier }}</a>
            {% endfor %}
        </span>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
</ul>
{% endif %}

{% if data.relationships %}
<div class="card">
    <h3>Connections</h3>
    {{ macros.connections(data.id, data) }}
</div>
{% endif %}

{% endblock %}

