{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

{{ macros.title(title, label) }}

{{ macros.content(data.properties) }}

{% if data.has_details %}
{{ macros.details(data.properties) }}
{% endif %}

{% if data.grimoires %}
<div class="card">
    <h3>Listed in the Grimoires</h3>
    {{ macros.rel_list(data.grimoires) }}
</div>
{% endif %}

{% if data.skills %}
<div class="card">
    <h3>Skills</h3>
    {{ macros.rel_list(data.skills) }}
</div>
{% endif %}

{% if data.serves or data.servants %}
<div class="card">
    <h3>Hierarchy</h3>
    {% if data.serves %}
    <h4>Serves</h4>
    {{ macros.rel_list(data.serves) }}
    {% endif %}

    {% if data.servants %}
    <h4>Servants</h4>
    {{ macros.rel_list(data.servants) }}
    {% endif %}
</div>
{% endif %}

{% if data.appearance %}
<div class="card">
    <h3>Appearance aspects</h3>
    {{ macros.rel_list(data.appearance) }}
</div>
{% endif %}

{% if data.relationships %}
<div class="card">
    <h3>Connections</h3>
    {{ macros.connections(data.id, data) }}
</div>
{% endif %}

{% endblock %}


