{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

{{ macros.title(title, label) }}

{% if data.date %}
<div class="card">
    <p><strong>Date:</strong> {{ data.date }}</p>
</div>
{% endif %}

{{ macros.worldcat(data.properties.identifier) }}

{{ macros.content(data.properties) }}

{% if data.has_details %}
{{ macros.details(data.properties) }}
{% endif %}

{% if data.editions %}
<div class="card">
    <h3>Editions</h3>
    {{ macros.rel_list(data.editions) }}
</div>
{% endif %}

{% if data.relationships %}
<div class="card">
    <h3>Connections</h3>
    {{ macros.connections(data.id, data) }}
</div>
{% endif %}

{% for type, items in data.entities.items() %}
{% if items %}
<div class="card">
    <h3>{{ type | format | capitalize | pluralize }} ({{ items | length }})</h3>
    <ul class="many">
        {% for item in items | sort(attribute="properties.identifier") %}
        <li>
            <a href="/{{ item.label }}/{{ item.properties.uid }}">{{ item.properties.identifier }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}

{% if data.spells %}
<div class="card">
    <h3>Spells</h3>
    {{ macros.rel_list(data.spells) }}
</div>
{% endif %}

{% endblock %}

