body {
    background-color: $footer-color;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}
