<p>This translation of the <em>Grimoire of Pope Honorius</em> is found in <a href="/person/ae-waite/">A. E. Waite&#39;s</a> <a href="http://www.sacred-texts.com/grim/bcm/bcm65.htm" target="_blank"><em>Book of Ceremonial Magic</em></a>.</p>

<h1 id="the-grimoire-of-honorius">The Grimoire Of Honorius</h1>

<div id="table-of-contents" data-magellan-target="table-of-contents">
    <h2>Table of Contents</h2>
    <ol data-magellan>
	<li><a href="#wheel-of-fortune">Wheel of Fortune</a></li>
        <li><a href="#method-of-honorius">The Method of Honorius</a></li>
        <li><a href="#universal-conjuration">Universal Conjuration.</a>
            <ol>
                <li><a href="#discharge">Discharge.</a></li>
                <li><a href="#act-of-thanksgiving">Act of Thanksgiving.</a></li>
            </ol>
        </li>
        <li><a href="#conjuration-of-the-book">Conjuration of the Book.</a></li>
        <li><a href="#conjuration-of-the-demons">Conjuration of the Demons.</a>
            <ol>
                <li><a href="#concerning-the-figure-of-the-circle">Concerning the Figure of the Circle.</a></li>
                <li><a href="#what-must-be-said-in-composing-the-circle">What must be said in Composing the Circle.</a></li>
            </ol>
        </li>
        <li><a href="#kings-of-the-cardinal-directions">Conjurations of the Kings of the Cardinal Directions</a>
            <ol>
                <li><a href="#conjuration-of-the-king-of-the-east">Conjuration of the King of the East.</a></li>
                <li><a href="#conjuration-of-the-king-of-the-south">Conjuration of the King of the South.</a></li>
                <li><a href="#conjuration-of-the-king-of-the-west">Conjuration of the King of the West.</a></li>
                <li><a href="#conjuration-of-the-king-of-the-north">Conjuration of the King of the North.</a></li>
            </ol>
        </li>
        <li><a href="#conjuration-for-each-day-of-the-week">Conjuration for Each Day of the Week.</a>
            <ol>
                <li><a href="#for-monday-day_of_the_week-monday-to-lucifer-demon-lucifer">For Monday, to Lucifer.</a></li>
                <li><a href="#conjuration">Conjuration</a></li>
                <li><a href="#for-tuesday-day_of_the_week-tuesday-to-frimost-demon-nambroth">For Tuesday, to Frimost.</a></li>
                <li><a href="#for-wednesday-day_of_the_week-wednesday-to-astaroth-demon-astaroth">For Wednesday, to Astaroth.</a></li>
                <li><a href="#for-thursday-day_of_the_week-thursday-to-silcharde-demon-acham">For Thursday, to Silcharde.</a></li>
                <li><a href="#for-friday-day_of_the_week-friday-to-bechard-demon-bechaud">For Friday, to Bechard.</a></li>
                <li><a href="#for-saturday-day_of_the_week-saturday-to-guland-demon-guland">For Saturday, to Guland.</a></li>
                <li><a href="#for-sunday-day_of_the_week-sunday-to-surgat-demon-surgat">For Sunday, to Surgat.</a></li>
		<li><a href="#very-powerful-conjuration">Very Powerful Conjuration for all days and hours of the Day or Night, being for Treasures hidden by men or Spirits, that the same may be possessed and transported.</a></li>
            </ol>
        </li>
    </ol>
</div>

<div id="fulltext-content">
    <h2 id="method-of-honorius">The Method of Honorius</h2>
    <p>The person who desires to invoke the perverse &quot;Spirits of Darkness&quot; must observe a
    three days&#39; fast; he must also confess and approach the Holy Altar. After these three
    days, upon the morrow, and at the hour of sunrise, he shall recite the Seven Gradual
    Psalms, with the accompanying Litanies and Prayers, the whole on his knees; further,
    he must drink no wine and eat no meat on that day. Next, he shall rise at midnight on
    the first <a href="/day_of_the_week/monday">Monday</a> of the month, and a priest shall say a Mass of the Holy
    Ghost. After the consecration, taking the Host in his left hand, he shall
    recite the following prayer on his knees:</p>

    <h3 id="prayer">PRAYER</h3>

    <p>My Sovereign Saviour Jesus Christ, Son of the living God! Thou who
    for the salvation of all mankind didst suffer the death of the Cross; Thou
    who, before being abandoned to Thine enemies, by an impulse of
    ineffable love didst institute the Sacrament of thy Body; Thou who hast
    vouchsafed to us miserable creatures the privilege of making daily
    commemoration thereof; do Thou deign unto thine unworthy servant, thus
    holding thy Living Body in his hands, all strength and ability for the
    profitable application of that power with which he has been entrusted
    against the horde of rebellious spirits. Thou art their true God, and if they
    tremble at the utterance of Thy Name, upon that Holy Name will I call,
    crying Jesus Christ! Jesus, be Thou my help, now and for ever! Amen.</p>
    <p>After sunrise a black <a href="/ingredient/rooster-1">cock</a> must be killed, the first feather of its left wing
    being plucked and preserved for use at the required time. The eyes must
    be torn out, and so also the tongue and heart; these must be dried in the
    sun and afterwards reduced to powder. The remains must be interred at
    sunset in a secret place, a cross of a palm in height being set upon the
    mound, while at each of the four corners the signs which here follow
    must be drawn with the thumb:</p>
    <p><img src="/static/images/content/honorius-figure-1.png" alt="Drawn symbols"></p>
    <p>On this day also the operator should drink no wine and abstain from
    eating meat.</p>
    <p>On <a href="/day_of_the_week/tuesday">Tuesday</a>, at break of day, let him say a Mass of the Angels, placing
    the feather taken from the bird upon the altar, together with a new
    penknife. The signs hereinafter represented must be inscribed on a sheet
    of clean <a href="/ingredient/paper">paper</a> with the consecrated <a href="/ingredient/wine">wine</a> which is the Blood of Jesus
    Christ:</p>
    <p><img src="/static/images/content/honorius-figure-2.png" alt="Drawn symbols"></p>
    <p>They should be written upon the altar, and at the end of the Mass the
    paper should be folded in a new veil of violet silk, to be concealed on the
    morrow, together with the oblation of the Mass and a part of the
    consecrated Host.</p>
    <p>On the evening of <a href="/day_of_the_week/thursday">Thursday</a> the operator must rise at midnight, and, having sprinkled
    <a href="/ingredient/holy-water">holy water</a> about the chamber, he must light a taper of yellow wax, which shall have been
    prepared on the <a href="/day_of_the_week/wednesday">Wednesday</a> and pierced in the form of a cross. When it is
    lighted he shall recite Psalm <em>lxxvii. &mdash; Attendite, popule meus, legem meam,</em>
    &amp;c. &mdash; without the <em>Gloria Patri</em>. He shall then begin the &quot;Office of the
    Dead&quot; with <em>Venite exultemus Domino,</em> &amp;c. He shall recite Matins and
    Lauds, but in place of the versicle of the ninth Lesson 1 he shall say:</p>
    <p>Deliver us, O Lord, from the fear of hell. Let not the demons destroy my soul when I
    shall raise them from the deep pit, when I shall command them to do my
    will. May the day be bright, may the <a href="/astrological_body/sun">sun</a> and <a href="/astrological_body/moon">moon</a> shine forth, when I shall
    call upon them. Terrible of aspect are they, deformed and horrible to sight;
    but do Thou restore unto them their angelic shapes when I shall impose my
    will upon them. O Lord deliver me from those of the dread visage, and grant
    that they shall be obedient when I shall raise them up from hell, when I
    shall impose my will upon them.</p>
    <p>After the &quot;Office of the Dead&quot; the operator shall extinguish the taper, and
    at sunrise shall cut the throat of a male lamb of nine days, taking care that
    the blood does not gush forth upon the earth. He shall skin the lamb, and
    shall cast its tongue and heart into the fire. The fire must be freshly kindled,
    and the ashes shall be preserved for use at the proper time. The skin of the
    lamb shall be spread in the middle of a field, and for the space of nine days
    shall be sprinkled four times every day with <a href="/ingredient/holy-water">holy water</a>. On the tenth day,
    before the rising of the <a href="/astrological_body/sun">sun</a>, the lambskin shall be covered with the ashes of
    the heart and tongue, and with the ashes also of the
    cock, after sunset, the flesh of the lamb shall be interred in a
    secret place where no bird can come, and the priest with his right thumb
    shall inscribe on the grave the characters here indicated:</p>
    <p><img src="/static/images/content/honorius-figure-3.png" alt="Drawn symbols"></p>
    <p>Moreover, for the space of three days he shall sprinkle the four corners with
    <a href="/ingredient/holy-water">holy water</a>, saying: Sprinkle me, O Lord, with hyssop, and I shall be
    cleansed! Wash me, and I shall be made whiter than snow!</p>
    <p>After the aspersion let him recite the following prayer, kneeling with his
    face towards the <a href="/direction/east">east</a></p>

    <h3 id="prayer">PRAYER.</h3>

    <p>Christ Jesus, Redeemer of men, who, being the Lamb without spot, wast
    immolated for the salvation of the human race, who alone wast found
    worthy to open the Book of Life, impart such virtue to this lambskin that it
    may receive the signs which we shall trace thereon, written with Thy blood,
    so that the figures, signs, and words may become efficacious; and grant that
    this skin may preserve us against the wiles of the demons; that they may be
    terrified at the sight of these figures, and may only approach them
    trembling. Through Thee, Jesus Christ, who livest and reignest through all
    ages. So be it.</p>
    <p>The Litanies of the Holy Name of Jesus must then be repeated, but
    instead of the <em>Agnus Dei</em>, substitute:</p>
    <p>Immolated Lamb, be Thou a pillar of strength against the demons Slain
    Lamb, give power over the Powers of Darkness! Immolated Lamb, grant
    favour and strength unto the binding of the Rebellious Spirits. So be it.</p>
    <p>The lambskin shall be stretched for eighteen days, and on the nineteenth
    day the fleece shall be removed, reduced into powder, and interred in the
    same place. The word vellus shall be written above it with the finger,
    together with the following character and the words: May this which hath
    been reduced into ashes preserve against the demons through the name of
    Jesus.</p>
    <p><img src="/static/images/content/honorius-figure-3.png" alt="Drawn symbols"></p>
    <p>Add also these signs</p>
    <p><img src="/static/images/content/honorius-figure-5.png" alt="Drawn symbols"></p>
    <p>Lastly, on the eastern side, the said skin must be
    set to dry in the sun for three days, the ensuing characters being cut with a
    new <a href="/ingredient/knife">knife</a>:</p>
    <p><img src="/static/images/content/honorius-figure-6.png" alt="Drawn symbols"></p>
    <p>&mdash; This being accomplished, recite Psalm lxxi., <em>Deus,
    iudicium tuum regi da</em>, &amp;c., and cut the following characters</p>
    <p><img src="/static/images/content/honorius-figure-7.png" alt="Drawn symbols"></p>
    <p>The figure being thus far completed, recite the verses <em>Afferte Domino,
    patriæ gentium</em>, occurring in Psalm xcv.:</p>
    <p><em>Cantate Domino Canticum novum</em>, of which the seventh versicle is:
    <em>Afferte Domino, Filii Dei</em>, &amp;c., and cut subsequently these characters:</p>
    <p><img src="/static/images/content/honorius-figure-8.png" alt="Drawn symbols"></p>
    <p>&mdash; Next recite Psalm lxxvii.: <em>Attendite, popule meus,
    legem meam</em>, and compose the following figure:</p>
    <p><img src="/static/images/content/honorius-figure-9.png" alt="Drawn symbols"></p>
    <p>&mdash;  Which being accomplished, recite Psalm ii.: <em>Quare
    fremuerunt Gentes, et populi meditati sunt inania?</em> Then make another
    figure as follows</p>
    <p><img src="/static/images/content/honorius-figure-10.png" alt="Drawn symbols"></p>
    <p>And recite Psalm cxv.: <em>Credidi propter quod locutus sum</em>. Finally, on
    the last day of the month a Mass for the Dead shall be offered; the prose
    shall be omitted, and also the Gospel of St. John, but at the end of the Mass
    the priest shall recite the Psalm <em>Confitemini Domino quoniam bonus</em>, &amp;c.</p>
    <p>In Honour of the Most Holy and August Trinity, the
    Father, the Son, and the Holy Ghost. Amen.</p>

    <p><em>The Seventy-two Sacred <a href="/ingredient/names-of-god">Names of God</a>.</em> &mdash; TRINITAS, SOTHER, MESSIAS, EMMANUEL, SABAHOT, ADONAY, ATHANATOS, JESU, PENTAGNA, AGRAGON, ISCHIROS, ELEYSON, OTHEOS, TETRAGRAMMATON, ELY, SADAY, AQUILA, MAGNUS HOMO, VISIO, FLOS, ORIGO, SALVATOR, ALPHA AND OMEGA, PRIMUS, NOVISSIMUS, PRINCIPIUM ET FINIS, PRIMOGENITUS, SAPIENTIA, VIRTUS, PARACLITUS, VERITAS, VIA, MEDIATOR, MEDICUS, SALUS, AGNUS, OVIS, VITULUS, SPES, ARIES, LEO, LUX, IMAGO, PANIS, JANUA, PETRA, SPONSA, PASTOR, PROPHETA, SACERDOS, SANCTUS, IMMORTALITAS, JESUS, CHRISTUS, PATER, FILIUS HOMINIS, SANCTUS, PATER OMNIPOTENS, DEUS, AGIOS, RESURRECTIO, MISCHIROS, CHARITAS, ÆTERNAS, CREATOR, REDEMPTOR, UNITAS, SUMMUM BONUM, INFINITAS. AMEN.</p>
    <p>Hereinafter follow the three small pentacles of <a href="/person/solomon">Solomon</a>, and that of
    the Gospel of St. John.</p>
    <p><img src="/static/images/content/honorius-pentacles.png" alt="Three small pentacles of Solomon, and a pentacle of St. John"></p>
    <p><em>The Beginning of the Holy Gospel according to John. Glory be to Thee, O Lord.</em></p>
    <p>In the beginning was the Word, &amp;c., <em>in extenso, so far as the end of
    the fourteenth versicle.</em></p>
    <p>Thanks be to God. Hosanna to the Son of David!
    Blessed is He who cometh in the Name of the Lord.
    Hosanna in the Highest. We invoke Thee. We adore Thee. We praise
    Thee. We glorify Thee, O blessed and glorious Trinity! May the
    Name of the Lord be blessed, now and henceforth for ever! Amen. In
    the Name of the Father, of the Son, and of the Holy Ghost, Jesus of
    Nazareth, King of the Jews. May Christ conquer, reign, command,
    and defend me from all evil. Amen.</p>

    <h2 id="universal-conjuration">UNIVERSAL CONJURATION.</h2>

    <p>I, N., do conjure thee, O Spirit N., by the living God, by the true God, by
    the holy and all-ruling God, who created from nothingness the heaven, the
    earth, the sea, and all things that are therein, in virtue of the Most Holy
    Sacrament of the Eucharist, in the name of Jesus Christ, and by the power
    of this same Almighty Son of God, who for us and for our redemption was
    crucified, suffered death, and was buried; who rose again on the third day,
    and is now seated on the right hand of the Creator of the whole world, from
    whence he will come to judge the living and the dead; as also by the
    precious love of the Holy Spirit, perfect Trinity. I conjure thee within the
    circle, accursed one, by thy judgment, who didst dare to tempt God: I
    exorcise thee, Serpent, and I command thee to appear forthwith under a
    beautiful and well-favoured human form of soul and body, and to fulfil my
    behests without any deceit whatsoever, as also without mental reservation
    of any kind, by the great times of the God of gods and Lord of lords,
    ADONAY, TETRAGRAMMATON, JEHOVA, TETRAGRAMMATON,
    ADONAY, JEHOVA, OTHEOS, ATHANATOS, ISCHYROS, AGLA,
    PENTACRAMMATON, SADAY, SADAY, SADAY, JEHOVA,
    OTHEOS, ATHANATOS à <em>Liciat</em> TETRAGRAMMATON, ADONAY,
    ISCHYROS, ATHANATOS, SADY, SADY, SADY, CADOS, CADOS,
    CADOS, ELOY. AGLA, AGLA, AGLA, ADONAY, ADONAY.</p>
    <p>I conjure thee, Evil and Accursed Serpent, N.. to appear at my will and
    pleasure, in this place, before this circle, without tarrying, without
    companions, without grievance, without noise, deformity, or murmuring. I
    exorcise thee by the ineffable <a href="/ingredient/names-of-god">names of God</a>, to wit, Gog and Magog, which
    I am unworthy to pronounce; Come hither, Conic hither, Come hither.
    Accomplish my will and desire, without wile or falsehood. Otherwise St.
    Michael, the invisible <a href="/angelic_order/archangel">Archangel</a>, shall presently blast thee in the utmost
    depths of hell. Come, then, N., to do my will.</p>
    <p>The Grand Pentacle of <a href="/person/solomon">Salomon</a></p>

    <p><img src="/static/images/content/honorius-grand-pentacle.png" alt="The Grand Pentacle of Salomon"></p>

    <p>A.P.</p>
    <p>Why tarriest thou, and why delayest? What doest thou? Make ready, obey
    your master, in the name of the Lord, BATHAT or RACHAT flowing over
    ABRACM ENS, ALCHOR or ABERER.</p>
    <p>L. Q. L. F. A. P.</p>
    <p>Behold the Pentacle of <a href="/person/solomon">Solomon</a> which I have brought into thy presence! I
    command thee, by order of the great God, ADONAY,
    TETRAGRAMMATON, and JESUS!</p>
    <p>Hasten, fulfil my behests, without wile or falsehood, but in all truth, in the
    name of the Saviour and Redeemer, Jesus Christ.</p>

    <h3 id="discharge"><em>DISCHARGE.</em></h3>
    <p>Go in peace unto your places. May there be peace between us and you, and be ye ready
    to come when ye are called. In the Name of the Father, and of the Son, and of the Holy
    Ghost. Amen.</p>

    <h3 id="act-of-thanksgiving"><em>ACT OF THANKSGIVING.</em></h3>
    <p>Praise, honour, glory, and blessing be unto Him who sitteth upon the throne, who liveth
    for ever and ever. Amen.</p>

    <h2 id="conjuration-of-the-book"><em>CONJURATION OF THE BOOK.</em></h2>
    <p>I conjure thee, O Book, to be useful and profitable unto all who shall have
    recourse to thee for the success of their affairs. I conjure thee anew, by the
    virtue of the Blood of Jesus Christ, contained daily in the chalice, to be
    serviceable unto all those who shall read thee. I exorcise thee, in the name
    of the Most Holy Trinity, in the name of the Most Holy Trinity, in the
    name of the Most Holy Trinity!</p>
    <p><em>What follows must be said before the sealing of the Book.</em></p>
    <p>I conjure and command you, O Spirits, all and so many as ye are, to accept
    this Book with good grace, so that whensoever we may read it, the same
    being approved and recognised as in proper form and valid, you shall be
    constrained to appear in comely human form when you are called,
    accordingly as the reader shall judge. In no circumstances shall you make
    any attempt upon the body, soul, or spirit of the reader, nor inflict any harm
    on those who may accompany him, either by mutterings, tempests, noise,
    scandals, nor yet by lesion or by hindrance in the execution of the
    commands of this Book. I conjure you to appear immediately when the
    conjuration is made, to execute without dallying all that is written and
    enumerated in its proper place in the said book. You shall obey, serve,
    instruct, impart, and perform all in your power for the benefit of those who
    command you, and the whole without illusion. If perchance some of the
    invoked spirits be unable to come or appear when required, they shall be
    bound over to send others vested with their power, who also shall swear
    solemnly to execute all that the reader may demand, and ye are all hereby
    enjoined by the Most Holy Names of the Omnipotent Living God,
    ELOYM, JAH, EL, ELOY, TETRAGRAMMATON, to fulfil everything as
    it is set forth above. If ye obey me not, I will force you to abide in torments
    for a thousand years, as also if any one of you receive not this Book with
    entire resignation to the will of the reader.</p>

    <h2 id="conjuration-of-the-demons">CONJURATION OF THE DEMONS.</h2>
    <p>In the Name of the Father, and of the Son, and of the Holy Ghost. Take
    heed! Come, all Spirits! By the virtue and power of your King, and by the
    seven crowns and chains of your Kings, all Spirits of the Hells are forced to
    appear in my presence before this pentacle or circle of <a href="/person/solomon">Solomon</a>,
    whensoever I shall call them. Come, then, all at my orders, to fulfil that
    which is in your power, as commanded. Come, therefore, from the <a href="/direction/east">East</a>,
    <a href="/direction/south">South</a>, <a href="/direction/west">West</a>, and <a href="/direction/north">North</a>! I conjure and command you, by the virtue and
    power of Him who is three, eternal, equal, who is God invisible,
    consubstantial, in a word, who has created the heavens, the sea, and all
    which is under heaven.</p>
    <p><em>After these Conjurations you shall command them to
    affix the Seal.</em></p>

    <h3 id="concerning-the-figure-of-the-circle">CONCERNING THE FIGURE OF THE CIRCLE.</h3>
    <p>Circles should be described with charcoal or <a href="/ingredient/holy-water">holy water</a>, sprinkled with
    the wood of the blessed Cross.</p>
    <p><img src="/static/images/content/honorius-magic-circle.png" alt="The magic circle of Honorius"></p>
    <p>The Magic Circle of Honorius</p>
    <p>When they have been duly made, and the words have been written about
    the circle, the <a href="/ingredient/holy-water">holy water</a> which has served to bless the same may also be
    used to prevent the spirits from inflicting any hurt. Standing in the middle
    of the circle, you shall command them in a lively manner, as one who is
    their master.</p>

    <h3 id="what-must-be-said-in-composing-the-circle"><em>What must be said in Composing the Circle.</em></h3>
    <p>O Lord, we fly to Thy virtue! O Lord, confirm this work! What is operated
    in us becomes like dust driven before the wind, and the Angel of the Lord
    pausing (sic), let the darkness disappear, and the Angel of the Lord ever
    pursuing, ALPHA, OMEGA, ELY, ELOTHE, FLOHIM, ZABAHOT,
    FLION, SADY. Behold the Lion who is the conqueror of the Tribe of
    Judah, the Root of David! I will open the Book, and the seven seals thereof.
    I have beheld <a href="/demon/satan">Satan</a> as a bolt falling from heaven. It is Thou who hast given
    us power to crush dragons, scorpions, and all Thine enemies beneath Thy
    feet. Nothing shall harm us, not even ELOY, ELOHIM, ELOHE,
    ZABAHOT, ELION, ESARCHIE, ADONAY, JAH,
    TETRAGRAMMATON, SADY. The earth is the Lord&#39;s and all those who
    dwell therein, because He established it upon the seas and prepared it in the
    midst of the waves. Who shall ascend unto the mountain of the Lord? Who
    shall be received in his Holy Place? The innocent of hands and clean of
    heart. Who bath not received his soul in vain, and hath not sworn false
    witness against his neighbour. The same shall be blessed of God, and shall
    obtain mercy of God to his salvation. He is of the generation of those who
    seek Him. Open your gates, ye princes, open the eternal gates, and the
    King of Glory shall enter! Who is this King of Glory? The Lord Almighty,
    the Lord, mighty in battle. Open your gates, ye princes! Lift up the eternal
    gates. Who is this King of Glory? The Lord Almighty. This Lord is the
    King of Glory. Glory be to the Father, &amp;c.</p>
    <p><em>To dismiss them, the Pentacle of <a href="/person/solomon">Solomon</a> must be exhibited, at the same
    time saying as follows</em>: &mdash; Behold your sentence! Behold that which
    forbids
    rebellion to our wills, and doth ordain you to return unto your abodes. May
    peace be between us and you, and be my will.</p>

    <p><img src="/static/images/content/honorius-lesser-pentacle.png" alt="Lesser Pentacle of Solomon"></p>


    <h2 id="kings-of-the-cardinal-directions">Conjurations of the Kings of the Cardinal Directions</h2>

    <h3 id="conjuration-of-the-king-of-the-east">CONJURATION OF THE KING OF THE EAST.</h3>
    <p>I conjure and invoke thee, O powerful King of the <a href="/direction/east">East</a> Magoa, by my holy
    labour, by all the names of Divinity, by the name of the All-Powerful: I
    command thee to obey, and to come to me, or that failing, forthwith and
    immediately to send unto me Massayel, Ariel, Satiel, Arduel, Acorib, to
    respond concerning all that I would know and to fulfil all that I shall
    command. Else thou shalt come verily in thine own person to satisfy my
    will; which refusing, I shall compel thee by all the virtue and power of
    God.</p>
    <p>The <a href="/magic_object/pentagram-of-solomon">Grand Pentacle or Circle of Solomon</a> will answer for the above and
    following Conjurations, which can be said on all days and at all hours. If it
    be desired to speak only with one spirit, one only need be named, at the
    choice of the reader.</p>


    <h3 id="conjuration-of-the-king-of-the-south">CONJURATION OF THE KING OF THE SOUTH.</h3>
    <p>O Egym, great King of the <a href="/direction/south">South</a>, I conjure and invoke thee by the most
    high and holy <a href="/ingredient/names-of-god">Names of God</a>, do thou here manifest, clothed with all thy
    power; come before this circle, or at least send me forthwith Fadal,
    Nastrache, to make answer unto me, and to execute all my wishes. If thou
    failest, I shall force thee by God Himself.</p>


    <h3 id="conjuration-of-the-king-of-the-west">CONJURATION OF THE KING OF THE WEST.</h3>
    <p>O Baymon, most potent King, who reignest in the Western quarter, I call
    and I invoke thee in the name of the Deity! I command thee by virtue of the
    Most High, to send me immediately before this circle the Spirit Passiel
    Rosus, with all other Spirits who are subject unto thee, that the same may
    answer in everything, even as I shall require them. If thou failest, I will
    torment thee with the sword of fire divine; I will multiply thy sufferings,
    and will burn thee.</p>


    <h3 id="conjuration-of-the-king-of-the-north">CONJURATION OF THE KING OF THE NORTH.</h3>
    <p>O thou, <a href="/demon/amaymon">Amaymon</a>, King and Emperor of the Northern parts, I call, invoke,
    exorcise, and conjure thee, by the virtue and power of the Creator, and by
    the virtue of virtues, to send me presently, and without delay, Madael,
    Laaval, Bamlahe, Belem, and Ramath, with all other Spirits of thine
    obedience, in comely and human form! In whatsoever place thou now art,
    come hither and render that honour which thou owest to the true living
    God, who is thy Creator. In the name of the Father, of the Son, and of the
    Holy Ghost, come therefore, and be obedient, in front of this circle, without
    peril to my body or soul. Appear in comely human form, with no terror
    encompassing thee. I conjure thee, make haste, come straightway, and at
    once. By all the Divine names— SECHIEL, BARACHIEL—if thou dost
    not obey promptly, BALANDIER, <em>suspensus, iracundus, Origratiumgu,
    Partus, Olemdemis, and Bautratis,</em> N. I exorcise thee, do invoke, and do
    impose most high commandment upon thee, by the omnipotence of the
    living God, and of the true God; by the virtue of the holy God, and by the
    power of Him who spake and all things were made, even by His holy
    commandment the heaven and earth were made, with all that is in them! I
    adjure thee by the Father, by the Son, and by the Holy Ghost, even by the
    Holy Trinity, by that God whom thou canst not resist, under whose empire I
    will compel thee; I conjure thee by God the Father, by God the Son, by God
    the Holy Ghost, by the Mother of Jesus Christ, Holy Mother and perpetual
    Virgin, by her sacred heart, by her blessed milk, which the Son of the
    Father sucked, by her most holy body and soul, by all the parts and
    members of this Virgin, by all the sufferings, afflictions, labours, agonies
    which she endured during the whole course of her life, by all the sighs she
    uttered, by the holy tears which she shed whilst her dear Son wept before
    the time of His dolorous passion and on the tree of the Cross, by all the
    sacred holy things which are offered and done, and also by all others, as in
    heaven so on earth, in honour of our Saviour Jesus Christ, and of the
    Blessed Mary, His Mother, by whatsoever is celestial, by the Church
    Militant, in honour of the Virgin and of all the Saints. In like manner, I
    conjure thee by the Holy Trinity, by all other mysteries, by the sign of the
    Cross, by the most precious blood and water which flowed from the side of
    Jesus Christ, by the sweat which issued from His whole body, when He
    said in the Garden of Olives: My Father, if it be possible, let this chalice
    pass from me—I conjure thee by His death and passion, by His burial and
    glorious resurrection, by His ascension, by the coming of the Holy Ghost. I
    adjure thee, furthermore, by the crown of thorns which was set upon His
    head, by the blood which flowed from His feet and hands, by the nails with
    which He was nailed to the tree of the Cross, by the holy tears which He
    shed, by all which He suffered willingly through great love of us: by the
    lungs, the heart, the hair, the inward parts, and by all the members, of our
    Saviour Jesus Christ. I conjure thee by the judgment of the living and the
    dead, by the Gospel words of our Saviour Jesus Christ, by His preachings,
    by His sayings, by all His miracles, by the child in swaddling-clothes, by
    the crying child, borne by the mother in her most pure and virginal womb;
    by the glorious intercession of the Virgin Mother of our Saviour Jesus
    Christ; by all which is of God and of His Most Holy Mother, as in heaven
    so on earth. I conjure thee by the holy Angels and Archangels, and by all
    the blessed orders of Spirits, by the holy patriarchs and prophets, by all the
    holy martyrs and confessors, by all the holy virgins and innocent widows,
    and by all the saints of God, both men and women. I conjure thee by the
    head of St. John the Baptist, by the milk of St. Catherine, and by all the
    Saints.</p>


    <h2 id="conjuration-for-each-day-of-the-week">CONJURATION FOR EACH DAY OF THE WEEK.</h2>
    <h3 id="for-monday-day_of_the_week-monday-to-lucifer-demon-lucifer"><em>For <a href="/day_of_the_week/monday">Monday</a>, to <a href="/demon/lucifer">Lucifer</a>.</em></h3>
    <p>This experience is commonly performed between eleven and twelve
    o&#39;clock, or between three and four. Requisites: <a href="/ingredient/coal">coal</a>, and consecrated <a href="/ingredient/chalk">chalk</a>
    to compose the circle, about which these words must be written: I forbid
    thee, <a href="/demon/lucifer">Lucifer</a>, in the name of the Most Holy Trinity, to enter within this
    circle. A mouse must be provided to give him; the master must have a stole
    and <a href="/ingredient/holy-water">holy water</a>, an air also and a surplice. He must recite the Conjuration in
    a lively manner, commanding sharply and shortly, as a lord should address
    his servant, with all kinds of
    menaces: <a href="/demon/satan">SATAN</a>, RANTAM, PALLANTRE, LUTAIS, CORICACOEM,
    SCIRCIGREUR, I require thee to give me very humbly, &amp;c.</p>
    <p><img src="/static/images/content/honorius-lucifer-circle.png" alt="Circle for summoning Lucifer"></p>
    <h3 id="conjuration">Conjuration</h3>
    <p>I conjure thee, <a href="/demon/lucifer">Lucifer</a>, by the living God, by the true God, by the holy
    God, who spake and all was made, who commanded and all things were
    created and made! I conjure thee by the ineffable name of God, ON,
    ALPHA and OMEGA, ELOY, ELOYM, YA, SADAY, LUX, MUGIENS,
    REX, SALUS, ADONAY, EMMANUEL, MEssIAs; and I adjure,
    conjure, and exorcise thee by the names which are declared under the
    letters V, C, X, as also by the names</p>
    <p>JEHOVAH, SOL, AGLA, RIFFAsORIs, ORIsTON, ORPHITNE,
    PHATON, IPRETU, OCIA, SP1~RATON, IMAGON, AMUL,
    PENATON, SOTER, TETRAGRAMMATON, ELOY, PREMOTON,
    SITMON, PERIGARON, IRATATON, PLEGATON, ON, PEROHIRAM,
    TIRos, RUBIPHATON, SIMULATON, PERPI, KLARIMUM,
    TREMENDUM, MERAY, and by the most high ineffable <a href="/ingredient/names-of-god">names of God</a>,
    GALl, ENGA, EL, HABDANUM, INGODUM, OBU ENGLABIS, do thou
    make haste to come, or send me N., having a comely and human form in no
    wise repulsive, that he may answer in real truth whatsoever I shall ask him,
    being also powerless to hurt me, or any person whomsoever, either in body
    or soul.</p>

    <h3 id="for-tuesday-day_of_the_week-tuesday-to-frimost-demon-nambroth"><em>For <a href="/day_of_the_week/tuesday">Tuesday</a>, to <a href="/demon/nambroth">Frimost</a>.</em></h3>
    <p>This experience is performed at night from nine to
    ten o&#39;clock, and the first stone found is given to him. He is to be received
    with dignity and honour. Proceed as on Monday; compose the circle, and
    write about it:</p>
    <p>Obey me, <a href="/demon/nambroth">Frimost</a>! Obey me, <a href="/demon/nambroth">Frimost</a>! Obey me, <a href="/demon/nambroth">Frimost</a>!</p>
    <p><img src="/static/images/content/honorius-frimost-circle.png" alt="Circle for summoning Frimost"></p>

    <h4>CONJURATION.</h4>
    <p>I conjue and command thee, <a href="/demon/nambroth">Frimost</a>, by all the names wherewith thou
    canst be constrained and bound! I exorcise thee, <a href="/demon/nambroth">Nambroth</a>, by thy name,
    by the virtue of all spirits, by all characters, by the Jewish, Greek, and
    Chaldean conjurations, by the confusion and malediction, and I will
    redouble thy pains and torments from day to day for ever, if thou come not
    now to accomplish my will and submit to all that I shall command, being
    powerless to harm me, or those who accompany me, either in body or soul.</p>

    <h3 id="for-wednesday-day_of_the_week-wednesday-to-astaroth-demon-astaroth"><em>For <a href="/day_of_the_week/wednesday">Wednesday</a>, to <a href="/demon/astaroth">Astaroth</a>.</em></h3>
    <p>This experience is performed at night, from ten to eleven o&#39;clock; it is
    designed to obtain the good graces of the King and others. Write in the
    circle as follows:</p>
    <p>Come, <a href="/demon/astaroth">Astaroth</a>! Come, <a href="/demon/astaroth">Astaroth</a>! Come, <a href="/demon/astaroth">Astaroth</a>!</p>
    <p><img src="/static/images/content/honorius-astaroth-circle.png" alt="Circle for summoning Astaroth"></p>

    <h4>CONJURATION.</h4>
    <p>I conjure thee, <a href="/demon/astaroth">Astaroth</a>, wicked spirit, by the words Christ of Nazareth,
    unto whom all demons are submitted, who was conceived of the Virgin
    Mary; by the mystery of the <a href="/angelic_order/angel">Angel</a> <a href="/angel/gabriel">Gabriel</a>, I conjure thee; and again in the
    name of the Father, and of the Son, and of the Holy Ghost; in the name of
    the glorious Virgin Mary, and of the Most Holy Trinity, in whose honour
    do all the Archangels, Thrones, Dominations, Powers, Patriarchs, Prophets,
    Apostles, and Evangelists sing without end; Hosannah, Hosannah,
    Hosannah, Lord God of Hosts, who art, who wast, who art to come, as a
    river of burning fire! Neglect not my commands, refuse not to come. I
    command thee by Him who shall appear with flames to judge the living and
    the dead, unto whom is all honour, praise, and glory. Come, therefore,
    promptly, obey my will, appear and give praise to the true God, unto the
    living God, yea, unto all His works; fail not to obey me, and give honour to
    the Holy Ghost, in whose name I command thee.</p>


    <h3 id="for-thursday-day_of_the_week-thursday-to-silcharde-demon-acham"><em>For <a href="/day_of_the_week/thursday">Thursday</a>, to <a href="/demon/acham">Silcharde</a>.</em></h3>
    <p>This experience is made at night, from three to four o&#39;clock, at which
    hour he is called, and appears in the form of a King. A little <a href="/ingredient/bread">bread</a> must be
    given him when he is required to depart; he renders man happy and also
    discovers treasures. Write about the circle as follows:
    Holy God! Holy God! Holy God!</p>
    <p><img src="/static/images/content/honorius-silcharde-circle.png" alt="Circle for summoning Silcharde"></p>

    <h4>CONJURATION.</h4>
    <p>I conjure thee, <a href="/demon/acham">Silcharde</a>, by the image and likeness of Jesus Christ our
    Saviour, whose death and passion redeemed the entire human race, who
    also wills that, by His providence, thou appear forthwith in this place. I
    command thee by all the Kingdoms of God. Act—I adjure and constrain
    thee by his Holy Name, by Him who walked upon the asp, who crushed the
    lion and the dragon. Do thou obey me, and fulfil my commands, being
    powerless to do harm unto me, or any person whomsoever, either in body
    or soul.</p>


    <h3 id="for-friday-day_of_the_week-friday-to-bechard-demon-bechaud"><em>For <a href="/day_of_the_week/friday">Friday</a>, to <a href="/demon/bechaud">Bechard</a>.</em></h3>
    <p>This experience is peformed an night from eleven to twelve o&#39;clock, and a
    nut must be given to him. Write within the circle: Come, <a href="/demon/bechaud">Bechard</a>! Come,
    <a href="/demon/bechaud">Bechard</a>! Come, <a href="/demon/bechaud">Bechard</a>!</p>
    <p><img src="/static/images/content/honorius-bechard-circle.png" alt="Circle for summoning Bechard"></p>

    <h4>CONJURATION.</h4>
    <p>I conjure thee, <a href="/demon/bechaud">Bechard</a>, and constrain thee, in like manner, by the Most
    Holy <a href="/ingredient/names-of-god">Names of God</a>, ELOY, ADONAY, ELOY, AGLA,
    SAMALABACTAY, which are written in <a href="/language/hebrew">Hebrew</a>, <a href="/language/greek">Greek</a> and <a href="/language/latin">Latin</a>; by all
    the sacraments, by all the names written in this book; and by him who
    drove thee from the height of Heaven. I conjure and command thee by the
    virtue of the Most Holy Eucharist, which hath redeemed men from their
    sins; I conjure thee to come without any delay, to do and perform all my
    biddings, without any prejudice to my body or soul, without harming my
    book, or doing injury to those that accompany me.</p>


    <h3 id="for-saturday-day_of_the_week-saturday-to-guland-demon-guland"><em>For <a href="/day_of_the_week/saturday">Saturday</a>, to <a href="/demon/guland">Guland</a>.</em></h3>
    <p>This experience is performed at night from eleven to twelve o&#39;clock, and so
    soon as he appears burnt <a href="/ingredient/bread">bread</a> must be given him. Ask him anything you
    will, and he will obey you on the spot. Write in his circle: Enter not,
    <a href="/demon/guland">Guland</a>! Enter not, <a href="/demon/guland">Guland</a>! Enter not, <a href="/demon/guland">Guland</a>!</p>
    <p><img src="/static/images/content/honorius-guland-circle.png" alt="Circle for summoning Guland"></p>

    <h4>CONJURATION.</h4>
    <p>I conjure thee, O <a href="/demon/guland">Guland</a>, in the name of <a href="/demon/satan">Satan</a>, in the name of <a href="/demon/beelzebub">Beelzebuth</a>,
    in the name of <a href="/demon/astaroth">Astaroth</a>, and in the name of all other Spirits, to make haste
    and appear before me. Come, then in the name of <a href="/demon/satan">Satan</a> and in the names of
    all other demons. Come to me, I command thee, in the name of the Most
    Holy Trinity. Come without inflicting any harm upon me, without injury to
    my body or soul, without maltreating my books, or anything which I use. I
    command thee to appear without delay, or, that failing, to send me
    forthwith another Spirit having the same power as thou hast, who shall
    accomplish my commands and be submitted to my will, wanting which, he
    whom thou shalt send me, if indeed thou comest not thyself, shall in no
    wise depart, nor until he bath in all things fulfilled my desire.</p>


    <h3 id="for-sunday-day_of_the_week-sunday-to-surgat-demon-surgat"><em>For <a href="/day_of_the_week/sunday">Sunday</a>, to <a href="/demon/surgat">Surgat</a>.</em></h3>
    <p>This experience is performed at night from eleven to one o&#39;clock. He will
    demand a hair of your head, but give him one of a fox, and see that he takes
    it. His office is to discover and transport all treasures, and perform anything
    that you may will. Write in his circle:
    TETRAGRAMMATON, TETRAGRAMMATON, TETRAGRAMMATON.
    ISMAEL, ADONAY, IHUA. And in a second circle:</p>
    <p>Come, <a href="/demon/surgat">Surgat</a>! Come, <a href="/demon/surgat">Surgat</a>! Come, <a href="/demon/surgat">Surgat</a>!</p>
    <p><img src="/static/images/content/honorius-surgat-circle.png" alt="Circle for summoning Surgat"></p>

    <h4>CONJURATION.</h4>
    <p>I conjure thee, O <a href="/demon/surgat">Surgat</a>, by all the names which are written in this book, to present
    thyself here before me, promptly and without delay, being ready to obey me in all things,
    or, failing this, to despatch me a Spirit with a stone which shall make me invisible to
    every one whensoever I carry it! And I conjure thee to be submitted in thine own person,
    or in the person of him or of those whom thou shalt send me, to do and accomplish my
    will, and all that I shall command, without harm to me or to any one, so soon as I make
    known my intent.</p>


    <h3 id="very-powerful-conjuration"><em>Very Powerful Conjuration for all days and hours of the Day or Night, being for Treasures hidden by men or Spirits, that the same may be possessed and transported.</em></h3>
    <p>I command you, O all ye demons dwelling in these parts, or in what part of
    the world soever ye may be, by whatsoever power may have been given
    you by God and our holy Angels over this place, and by the powerful
    Principality of the infernal abysses, as also by all your brethren, both
    general and special demons, whether dwelling in the <a href="/direction/east">East</a>, <a href="/direction/west">West</a>, <a href="/direction/south">South</a>, or
    <a href="/direction/north">North</a>, or in any side of the earth, and, in like manner, by the power ofGod
    the Father, by the wisdom of God the Son, by the virtue of the Holy Ghost,
    and by the authority I derive from our Saviour Jesus Christ, the only Son of
    the Almighty and the Creator, who made us and all creatures from nothing,
    who also ordains that you do hereby abdicate all power to guard, habit, and
    abide in this place; by whom further I constrain and command you, nolens
    volens, without guile or deception, to declare me your names, and to leave
    me in peaceable possession and rule over this place, of whatsoever legion
    you be and of whatsoever part of the world; by order of the Most Holy
    Trinity, and by the merits of the Most Holy and Blessed Virgin, as also of
    all the saints, I unbind you all, spirits who abide in this place, and I drive
    you to the deepest infernal abysses. Thus: Go, all Spirits accursed, who are
    condemned to the flame eternal which is prepared for you and your
    companions, if ye be rebellious and disobedient. I conjure you by the same
    authority, I exhort and call you, I constrain and command you, by all the
    powers of your superior demons, to come, obey, and reply positively to
    what I direct you in the name of Jesus Christ. Whence, if you or they do not
    obey promptly and without tarrying, I will shortly increase your torments
    for a thousand years in hell. I constrain you therefore to appear here in
    comely human shape, by the Most High <a href="/ingredient/names-of-god">Names of God</a>, HAIN, LON,
    HILAY, <a href="/angel/sabaoth">SABAOTH</a>, HELIM, RADISH~~, LEDIEHA, ADONAY,
    JEHOVA, YAH, TETRAGRAMMATON, SADA!, MESSIAS, AGIOS,
    ISCHYROS, EMMANUEL, AGLA, Jesus who is ALPHA and OMEGA,
    the beginning and the end, that you be justly established in the fire, having
    no power to reside, habit, or abide in this place henceforth; and I require
    your doom by the virtue of the said names, to wit, that St. Michael drive
    you to the uttermost of the infernal abyss, in the name of the Father, and of
    the Son, and of the Holy Ghost. So I conjure thee, <a href="/demon/acham">Acham</a>, or whomsoever
    thou mayst be,
    by the Most Holy <a href="/ingredient/names-of-god">Names of God</a>, by MALHAME, JAE,
    MAY, MABRON, JACOB, DASMEDIAS, ELOY, ATERESTIN,
    JANASTARDY, FINI5, AGIos, JSCHYROS, OTHEOS, ATHANATOS,
    AGLA, JEHOVA, HOMOSION, AGA, MESSIAS, SOTHER,
    CHRISTUS VINCIT, CHRISTUS IMPERAT, INCREATUS SPIRITUS
    SANCTUS.</p>
    <p>I conjure thee, <a href="/angel/cassiel">Cassiel</a>, or whomsoever thou mayest be, by all the said
    names, with power and with exorcism! I warn thee by the other sacred
    names of the most great Creator, which are or shall hereafter be
    communicated to thee; hearken forthwith and immediately to my words,
    and observe them inviolably, as sentences of the last dreadful day of
    judgment, which thou must obey inviolately, nor think to repulse me
    because I am a sinner, for therein shalt thou repulse the commands of the
    Most High God. Knowest thou not that thou art bereft of thy powers before
    thy Creator and ours? Think therefore what thou refusest, and pledge
    therefore thine obedience, swearing by the said last dreadful day of
    judgment, and by Him who bath created all things by His word, whom all
    creatures obey. P. <em>per sedem Baldarey et per gratiam et diligentiam tuam
    habuisti ab eo hanc nalatimanamilam</em>, as I command thee.</p>
</div>
