<h1>Mother Shipton's Fortune Teller</h1>

<div id="table-of-contents" data-magellan-target="table-of-contents">
    <h2>Table of Contents</h2>
    <ol data-magellan>
        <li><a href="#wheel-of-fortune">Wheel of Fortune</a></li>
        <li><a href="#foretell-by-cards">To Foretell events by Cards.</a></li>
        <li><a href="#signs-of-dispositions">Signs of Good and Bad Dispositions.</a></li>
        <li><a href="#lines-in-hand">Foretelling fortune by lines in the hand.</a></li>
        <li><a href="#signification-of-moles">The Signification of MOLES.</a></li>
        <li>
            <a href="#charms-and-cerimonies">Egyptian Charms and Cerimonies.</a>
            <ol>
                <li><a href="#st-catherine">The Charm of St. Catherine.</a></li>
                <li><a href="#curious-spell">A Curious Spell.</a></li>
                <li><a href="#apple-parings">Apple Parings.</a></li>
                <li><a href="#charm-for-dreaming">A Charm for Dreaming.</a></li>
                <li><a href="#another-for-dreaming">Another charm for dreaming,</a></li>
            </ol>
        </li>

    </ol>
</div>

<div id="fulltext-content">
    <div id="wheel-of-fortune" data-magellan-target="wheel-of-fortune" name="wheel-of-fortune">
        <p><img src="/static/images/content/shiptons-wheel.png" alt="Mother Shipton's Wheel of Fortune title page"></p>

        <h2>THE WHEEL OF FORTUNE</h2>

        <p>
            <em>The Party consulting the Oracular Wheel of Fate, must
                Prick through the back of the wheel blind-fold, for a
                number: if at the hour of twelve the answer may be depended on.</em>
        </p>
        <p>
            No.1, A life full of changes, die rich,<br>
            —2, Early marriage, and a handsome family.<br>
            —3, Many lovers: but die single.<br>
            —4, A speedy journey of great importance to others<br>
            —5, Become rich, through a legacy.<br>
            — 6, Hours of pleasure, years of care.<br>
            —7, Your present lover is false.<br>
            —8, You will marry your present choice.<br>
            —9, Wed thrice, and die in widow-hood.<br>
            —10, You will travel over land and sea.<br>
            —11, If not already wed, you never will.<br>
            —12, Gambling will be the ruin of your family.<br>
            —13, You will be happy in marriage.<br>
            —14, You will change your love soon.<br>
            —15, A long life, and prosperous.<br>
            —16, A rival will cause you tears.<br>
            —17, Beware of a false friend.<br>
            —18, Fate decrees two partners.<br>
            —19, A large family of prosperous children.<br>
            —20, Your plans will not succeed.<br>
            —21, You will soon fall desperately in love.<br>
            —22, Denotes mourning.<br>
            —23, An independence gained by industry.<br>
            —24, You will better your circumstances by marriage.<br>
            —25, Expect losses by fraud.<br>
            —26, You will marry an ill tempered person.<br>
            —27, A sudden rise attends you.<br>
            —28, You will soon see an absent lover.<br>
            —29, Many enemies, but finally you will triumph.<br>
            —30, bad partner, but happy reformation.<br>
            —31, An early proposal of marriage.<br>
            —32, A present and a new lover.<br>
            —33, Invitation to a gay party,<br>
            —34, A serious quarrel.<br>
            —35, A disgraceful intrigue.<br>
            —36, A run of ill luck.<br>
            —37, Denotes ill health<br>
            —38 News from distant friends.<br>
            —39, Trouble and deception.<br>
            —40. Backbiting and scandal.
        </p>

        <p>
            The CROWN denotes a rise in life.<br>
            ANCHOR your true lover will be often on water,<br>
            STAR ill luck; ...unless in the centre.<br>
            COFFIN much sickness, a death in your family.<br>
            RING an approaching wedding.<br>
            CROSS a religious partner, but deceitful.<br>
            SHIELD a good and happy marriage.<br>
            KEY much treasure, attended with trouble.
        </p>
    </div>

    <div id="foretell-by-cards" data-magellan-target="foretell-by-cards">
        <h2>To Foretell events by Cards.</h2>
        <img src="/static/images/content/shipton-cards.png" alt="Queen of Clubs playing card" class="embed">
        <p>
            Observe the following directions in laying them out: first,
            the person whose fortune is to be told, if a man, must choose
            one of the kings to represent himself, if a woman, one of the
            queens: then the queen or king of the chosen suit will stand for
            husband, wife, or sweetheart of the party whose fortune is to be
            told, the knave of the same is the most intimate person of the
            family. You must now shuffle the cards, and cut them 3
            times, showing the bottom card each time; this must be
            repeated thrice; then shufile again, cut once, and display
            them in rows of nine each, exactly under each other; after
            which every thirteenth card from the king queen or knave
            of the suit named is within your circle, counting backwards
            or forwards, thus; ...if the thirteenth card should be<br>
            The Ace of clubs... it promises great wealth.<br>
            King... gives a person affectionate, humane and faithful.<br>
            Queen...shows an amorous person.<br>
            Knave... shows a generous friend.<br>
            Ten... loss of friends, but gain of riches,<br>
            Nine... shows that you will displease a friend.<br>
            Eight... shows the person is covetous.<br>
            Seven... promises the most brilliant fortune.<br>
            Six... a lucrative partnership, and well-behaved children,<br>
            Five... early marriage and improved circumstances.<br>
            Four... incontinent for the sake of money, changeable.<br>
            Three... three marriages... one of them wealthy<br>
            Two... unfortunate opposition to a favorite inclination.<br>
            Ace of DIAMONDS... shows a person fond of sporting.<br>
            King... a sign of a fiery temper.<br>
            Queen... signifies laziness and unsteady conduct.<br>
            Knave... will look more to his own interest than yours,<br>
            Ten... promises a country partner, with some money.<br>
            Nine... denotes the person will be of a roving disposition.<br>
            Eight of DIAMONDS... shows a risk of dying single.<br>
            Seven... a happy life in the country.<br>
            Six... an early marriage and widowhood.<br>
            Five... a well assorted marriage, and good children.<br>
            Four... shows incontinence in the married state.<br>
            Three... law suits and domestic disagreements.<br>
            Two... shows a heart engaged at an early period.<br>
            Ace of HEARTS... merry making and good humor.<br>
            King... a fair skin good disposition. but passionate.<br>
            Queen... shows a woman of great beauty; very fair.<br>
            Knave... a dear friend who prevents mischief.<br>
            Ten... good nature, many children, and help in trouble.<br>
            Nine... great wealth, high esteem, if the next card is fair.<br>
            Eight... beware! your sweetheart will become a drunkard.<br>
            Seven... show a fickle and vicious disposition.<br>
            Six... a generous disposition.<br>
            Five... a wavering one.<br>
            Four... the person will not be marrried early.<br>
            Three... will experience ill will from others.<br>
            Two... shows that success will attend the person.<br>
            Ace of SPADES... this is the Cupid of cards. Beware!<br>
            King...ambitious with success in the attempt.<br>
            Queen... beware of corruption by flattery of the wealthy.<br>
            Knave... shows great abilities with great indolence.<br>
            Ten... a card of bad import, counteracting the good ones<br>
            Nine... danger, sickness, and loss of fortune. a bad card<br>
            Eight... strong opposition to your choice, in love affairs.<br>
            Seven... shows the loss of amost valuable friend.<br>
            Six... mediocrity of fortune, and failures in trade.<br>
            Five... success in trade, good luck in matrimony.<br>
            Four... shows speedy sickness, and false friends.<br>
            Three... shows you will be unfortunate in marriage.<br>
            Two... always signifies a coffin.
        </p>
    </div>
    <div id="signs-of-dispositions" data-magellan-target="signs-of-disposition">
        <h2>Signs of Good and Bad Dispositions.</h2>

        <p>...Good... The forehead large... the eye moist and shining
        the countenance expressing joy and content... the voice is
        mild and pleasant... and the motion of the body regular.</p>

        <p>...Evil... The form of the body, meagre and lean... the
        forehead cloudy and sullen... the eye small and cunning... a
        nimble tongue... and a short, quick and uneven gait.</p>
    </div>
    <div id="lines-in-hand" data-magellan-target="lines-in-hand">
        <h2>THE NORWOOD GIPSY;</h2>
        <h3>Foretelling fortune by lines in the hand.</h3>

        <img src="/static/images/content/shipton-palm.png" alt="Palm reading diagram">
        <p>Observe always to choose the left hand, as the heart and
        brain have more influence over it than the right hand! and
        it is also better to examine them when in good health,
        for then they appear full.</p>

        <p>The reader will see that the principal line is the line of
        life; if this is clear, and ends without breaks, it denotes a
        happy old age and great prosperity. Round lines, like
        semicircles, on the insides of the tips of the fingers, promise
        houses, land and inheritance. As many lines or crosses as
        a woman has in her wrist, so many children may she expect
        to have. If the middle, or table line in the hand, is
        very narrow and contracted, it is a sign of crosses and poverty.
        If a crooked line goes through the table line, it is
        a sign of death by accident or violence; but if it is straight
        and even, it is a good sign. The natural line takes its
        beginning from the rising of the middle finger.</p>

        <p>The table line, commonly called ‘The line of fortune’,
        begins under the little finger, and ends near the fore finger</p>

        <p>The line of death is a counter line to that of life; by
        some called the sister line.</p>

        <p>The girdle of <a href="/astrological_body/venus">Venus</a> (a circular line so called), begins
        near the joint of the fore finger, and ends in the middle
        finger. There are also lines in the fleshy parts, as in the
        ball of the thumb, which is called ‘The mount of Venus’,
        these are each governed by their several planets, and the
        hollow of the hand, is the place of <a href="/astrological_body/mars">Mars</a>.</p>

        <p>If the line from the wrist goes straight up to the little
        finger, it is a better sign than if broken; for then the party
        will live to a good old age: but on the contrary, should the
        line want continuity, it denotes sudden death.</p>

        <p>If the line which is in the middle of the hand, called the
        table line be broad and fair, without being broken, it is a
        sure sign the party will lead a happy life.</p>
    </div>

    <div id="signification-of-moles" data-magellan-target="signification-of-moles">
        <h2>The Signification of MOLES.</h2>

        <p>A mole on the right side of the forehead, or temple
        signifies the person will arrive at sudden wealth and honor.</p>

        <p>A mole on the right eyebrow foretells speedy marriage, the
        husband to possess good qualities and a large fortune</p>

        <p>A mole on the left side of either of those three places
        portends disappointment in your most sanguine wishes.</p>

        <p>A mole on the nose, shows success.</p>

        <p>A mole on the chin, indicates prosperity.</p>

        <p>A mole on the throat denotes that a person shall become rich
        by marriage.</p>

        <p>A mole on the bosom, signifies health and fortune.</p>

        <p>A mole under the left breast, over the heart, shows that a
        man will be of a warm disposition and unsettled in mind.
        In a lady, it shows sincerity in love, and easy travail in child-birth.</p>

        <p>A mole on the right side over any part of the ribs, denotes
        the person to be pusillanimous, and slow of understanding.</p>

        <p>A mole on the belly shows the person to be addicted to <a href="/sin/sloth">sloth</a>
        and <a href="/sin/gluttony">gluttony</a>, and not choice in point of dress.</p>

        <p>A mole on the hip shows the person will have many childdren.</p>

        <p>A mole on the right thigh is an indication of riches.</p>

        <p>A mole on the left thigh denotes poverty and want of friends.</p>

        <p>A mole on either foot, denotes <a href="/sin/pride">pride</a>.</p>

        <p>A mole on the right shoulder indicates prudence and wisdom.</p>

        <p>A mole between the elbow and the wrist promises the
        person prosperity but not until he has undergone hardships.</p>

        <p>A mole on the wrist, or between it and the ends of the
        fingers, shows industry, parsimony, and conjugal affection.</p>

        <p>A mole on the left shoulder denotes poverty.</p>

        <p>A mole on the right arm denotes courage.</p>

        <p>A mole on the left arm shows resolution and victory in
        battle.</p>
    </div>

    <div id="charms-and-cerimonies" data-magellan-target="charms-and-cerimonies">
        <h2>Egyptian Charms and Cerimonies.</h2>

        <div id="st-catherine" data-magellan-target="st-catherine">
            <h3><a href="/spell/charm-of-st-catherine">The Charm of St. Catherine.</a></h3>

            <p>This day falls on the 25th of November, and must be
            thus celebrated: --Let any number of young women not
            exceeding seven or less than three, assemble in a room,
            where they are sure to be safe from interlopers, just as the
            clock strikes eleven at night, take from your bosom a sprig
            of <a href="/plant/myrtle">myrtle</a>, which you must have worn there all day, and
            fold it up in a piece of tissue paper, then light up a small
            chaffing dish of <a href="/ingredient/coal">charcoal</a>, and on it each maiden thrown in
            hairs from her head, and a pairing of her toe and fingernails,
            then let each sprinkle a small quantity of myrtle and <a href="/ingredient/frankincense">frankincence</a>
            on the charcoal, and while the odoriferous vapor rises,
            fumigate your myrtle, (this plant or tree is consecrated to <a href="/astrological_body/venus">Venus</a>,)
            with it. Go to bed while the clock is striking twelve,
            and place the myrtle exactly under your head, and you
            will be sure to dream of your future husband. Observe,
            it is no manner of use trying this charm if you are not
            a real virgin, and the mystic hour of performance must
            be past in strict silence.</p>
        </div>
        <div id="curious-spell" data-magellan-target="curious-spell">
            <h3><a href="/spell/how-to-make-your-lover-or-sweetheart-come">A Curious Spell.</a></h3>

            <p>If a maid wishes to see her lover, let her take the following
            method: --Prick the third or wedding finger of your left
            hand with a sharp <a href="/ingredient/needle">needle</a>, (beware of a pin,) and with
            the <a href="/ingredient/human-blood">blood</a> write your own and lovers name on a piece of clean
            writing <a href="/ingredient/paper">paper</a>, in as small a compass as you can, and encircle
            it with three rings of the same crimson stream, fold it
            up and exactly at the ninth hour of the evening, bury it
            with your own hand, in the earth, secretly. Your lover will
            hasten to you as soon as possible, he will not be able
            to rest till he sees you; and if you have quarrelled, to make
            it up. A young man may also try this charm, only instead
            of the wedding finger, let him pierce his left thumb.</p>
        </div>

        <div id="apple-parings" data-magellan-target="apple-parings">
            <h3><a href="/spell/apple-parings">Apple Parings.</a></h3>
            <p>On the 28th of October, which is a double Saintsday,
            take an <a href="/plant/apple">apple</a>, pare it whole, and take the paring in your
            right hand, and standing in the middle of the room, say
            the following verse:–</p>

            <blockquote>
                <p>St. Simon and Jude, on you I intrude,<br>
                By this paring I hold to discover,<br>
                Without any delay, to tell me this day<br>
                The first letter of my true lover,</p>
            </blockquote>

            <p>Turn round three times, and cast the paring over your
            left shoulder, and it will form the first letter of
            your future husband’s surname, but if the paring breaks into
            many pieces so that no letter is discernable, you will never marry;
            unless you take the pips of the same apples, put them in spring water and drink the water at bed-time.</p>
        </div>
        <div id="charm-for-dreaming" data-magellan-target="charm-for-dreaming">
            <h3><a href="/spell/a-charm-for-dreaming">A Charm for Dreaming.</a></h3>

            <p>When you go to bed, place under your pillow is common
            prayer-book, open it at the part of the Matrimonial
            service, in which is printed “with this ring I thee wed,” &amp;c.,
            place on it a key, a <a href="/ingredient/ring-ingredient">ring</a>, a flower and a sprig of willow, a
            small heart cake, a crust of <a href="/ingredient/bread">bread</a>, and the following cards:
            the ten of clubs, nine of hearts, ace of spades, and the ace
            of diamonds, wrap all these round in a <a href="/ingredient/handkerchief">handkerchief</a> of thin
            gauze or <a href="/ingredient/muslin">muslin</a>, on getting into bed cross your hands and
            say:–</p>

            <blockquote>
                <p>Luna ever womans’ friend,<br>
                To me thy goodness condescend;<br>
                Let me this night in visions see,<br>
                Emblems of my destiny.</p>
            </blockquote>

            <p>If you dream of storms, trouble will betide you; if the
            storm ends in a fine calm, so will your fate; if of a ring, or
            of the ace of diamonds, marriage; bread, an industrious life;
            cake, a prosperous life; flowers, joy; willow, treachery in
            love; spades, death; diamonds, money; clubs, a foreign land;
            hearts, illegitimate children; keys, that you will rise to
            great trust and power, and never know want; birds, that you will
            have many children; geese, you will marry more than once.</p>
        </div>
        <div id="another-for-dreaming" data-magellan-target="another-for-dreaming">
            <h3><a href="/spell/another-charm-for-dreaming">Another charm for dreaming,</a></h3>
            <p>is as follows,–</p>
            <p>At the first appearance of the new <a href="/astrological_body/moon">moon</a>, immediately after
            New year’s day, go out in the evening and whilst leaning on
            a gate or stile, look up at the moon; and repeat the following lines, –</p>
            <blockquote>
            <p>All hail to the moon!<br>
            Display unto me<br>
            In a vision this night,<br>
            Who my husband may be.</p>
            </blockquote>
            <p>The next person that appears to you in your dream will be your future husband.</p>
        </div>
    </div>

    <p><em>FINIS</em></p>
</div>
