.endpoint {
    margin-bottom: 2em;
}

.api .fields {
    max-width: 40em;
}
.api h3 {
    font-family: sans-serif;
}
.api .method {
    color: $method-color;
    font-family: monospace;
    font-size: 1.2em;
    padding-right: 0.5em;
}
.api code {
    background: none;
    border: 0;
    padding: 0;
}
.fields td {
    text-align: left;
}
.fields td:first-child {
    font-family: monospace;
    width: 8em;
}

.info {
    border-left: 1px solid $method-color;
    margin-left: 1em;
    padding-left: 1em;
}
.info h4 {
    font-size: 1em;
    font-weight: bold;
}

.info ul.labels li {
    background: none;
}

.api .about h4 {
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding-top: 1em;
}
.api .about {
    margin-bottom: 2em;
}
.api .about blockquote {
    margin: 0;
    padding: 0;
}
.api .about blockquote code {
    font-family: monospace;
    font-size: 1.2em;
    white-space: pre;
    width: 80%;
    overflow-x: scroll;
    display: block;
    background-color: #eee;
}

.api #menu li {
    margin: 0.2em;
}

.api #menu > li > a{
    font-weight: bold;
}
