.flag {
    text-transform: uppercase;
    font-size: 0.6875rem;
    cursor: pointer;
}

#feedback {
    background: $background-color;
    border: 3px solid $header-color;
    padding: 1em;
    margin: 1em;
}
