#map {
    width: 100%;
    height: 25em;
    position: relative;
}

.map-slider label {
    text-align: center;
}
.map-slider label:first-child {
    text-align: left;
}
.map-slider label:last-child {
    text-align: right;
}
#date-slider {
    width: 100%;
}
