#map {
    width: 100%;
    height: 25em;
    position: relative;
}

.map-slider label:first-child {
    float: left;
}
.map-slider label:last-child {
    float: right;
}
#date-slider {
    width: 100%;
}
