.survey {
    padding: 0.6em;
    text-align: center;
    background-color: $background-color;
}
.survey div {
    width: 80%;
    margin: 0.2em auto;
    padding: 0.4em 1.5em;
    background-color: $footer-color;
    border-radius: 1.5em;
    position: relative;
}
.survey div::before, .survey div::after {
    content: '\f005';
    font-family: fontawesome;
    position: absolute;
    top: 23%;
}
.survey div::before {
    left: 0.5em;
}
.survey div::after {
    right: 0.5em;
}
.survey a {
    color: $text-highlight;
}
