.timeline {
    margin-left: 5em;
    padding-left: 1em;
    border-left: 1px solid black;
}

.timeline .date {
    height: 1em;
    overflow: visible;
    position: relative;
    right: 4em;
    clear: left;
    margin: 0;
    top: 0.8em;
}

.timeline .century {
    min-height: 3em;
}

.timeline div {
    min-height: 0.1em;
}

.relevant {
    font-weight: bold;
    color: black !important;
}
