footer {
    text-align: center;
    margin: 1em 5em;
}

footer a {
    color: $text-highlight;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}

