.flag {
    float: right;
}

#main {
    background: #fefefe;
    padding: 1em 0.5em;
    width: 100%;
    margin: 0;
    padding-bottom: 4em;
}

#content li {
    margin: 0.7em 2.5em;
    padding: 0;
}

#main div.has-table {
    max-width: 100%;
}

#main a {
    color: #677077;
    &:hover, &:active {
        color: #b5b5b7;
    }
}

.comma-separated *:after {
    content: ", ";
}

.comma-separated *:last-child:after {
    content: "";
}

.caption {
    font-size: 0.75em;
    font-style: italic;
}

.item-content blockquote {
    border-left: 5px solid $background-color+1;
    padding: 0 1em;
    margin: 0 1em;
    color: black;

    li {
        margin: 0 1em !important;
        list-style-type: auto;
    }
}

blockquote {
    border: 0;
    padding: 1em 2em;
}

blockquote p {
    color: #000;
}

.card {
    clear: both;
    overflow: auto;
}

.card .many li {
    float: left;
    padding: 0 0.5em;
    width: 10em;
}

.index .card h4 {
    float: left;
    margin: 0;
    padding: 0.5em;
    font-size: 1.3em;
}

table {
    border-collapse: inherit;
    border-spacing: 2px;
}

tbody th, tbody td {
    padding: 0.2em 0;
}

td, th {
    max-width: 10em;
    min-width: 6em;
    overflow: hidden;
    text-align: center;
}

th {
    background: #fefefe;
    line-height: 1em;
    vertical-align: bottom;
    text-align: right;
}

tr:first-child th {
    text-align: center;
}

tr:last-child th {
    vertical-align: top;
    text-align: center;
}

td.yes {
    background-color: #677077;
}

tr:nth-child(2n) {
    background: #e0e0e0;
}

input, select {
    display: inline;
    width: inherit;
}

