$header-color: #2c181b;
$background-color: #eee;
$footer-color: #677077;
$sidebar-background: #eee;

$text-color: #000;
$text-highlight: #f2b632;

$link-color:  #677077;
$link-hover-color: #b5b5b7;

$header-font: ('UnifrakturMaguntia', 'Serif');
$font-stack: ('Georgia', serif);

