$header-color: #2c181b;
$background-color: #eee;
$footer-color: #677077;
$sidebar-background: #eee;

$text-highlight: #f2b632;

$header-font: ('UnifrakturMaguntia', 'Serif');
$font-stack: ('Georgia', serif);

