body {
    background: #677077;
    font-family: georgia;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    background: #181b2c;
    background-image: url('/static/images/books-background.jpg');
    background-position: center;
    color: #f2b632;
    height: 160px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#header-container {
    background: #181b2c;
    opacity: 0.6;
    height: 160px;
}

h1 {
    font-weight: normal;
    letter-spacing: 0.3em;
    position: absolute;
    top: 1em;
    width: 100%;
}

h1 .fa {
    color: #b5b5b7;
}

header nav {
    background: #181b2c;
    opacity: 1;
    padding: 1em 0;
    position: absolute;
    bottom: -30px;
    width: 100%;
}

#content nav {
    margin-right: auto;
    margin-left: auto;
}

#content nav h2 {
    font-size: 1em;
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 1em;
}

nav ul {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    padding: 0;
}

nav li {
    display: inline;
    letter-spacing: 0.2em;
    list-style-type: none;
    text-align: center;
}

#content nav li {
    letter-spacing: 0.1em;
}

nav li:after {
    content: ",";
}

header nav li:after {
    font-family: fontawesome;
    font-weight: normal;
    margin: 1em;
    content: "\f06e";
}


nav li:last-child:after {
    content: none;
}

nav a {
    color: #b5b5b7;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: #677077;
}

#content {
    background: #fefefe;
    margin-bottom: 2em;
    min-height: 25em;
    padding: 2em 5em;
}

#content-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 45em;
}

#content a {
    color: #677077;
}

#content a:hover, #content a:active {
    color: #b5b5b7;
}

.divider {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.divider:after {
    content: "\f084";
    font-family: fontawesome;
}

.caption {
    font-size: 0.75em;
    font-style: italic;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0.7em 0;
    padding: 0;
}

.index.card {
    clear: both;
    overflow: auto;
}

.index.card .many li {
    float: left;
    padding: 0 0.5em;
    width: 10em;
}

footer {
    text-align: center;
    width: 100;
}

footer a {
    color: #f2b632;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}
