{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}
<h2>{{ title }}</h2>

{% if data.date %}
<div class="card">
    <p><strong>Date:</strong> {{ data.date }}</p>
</div>
{% endif %}

{{ macros.content(data.properties) }}

{% if data.has_details %}
{{ macros.details(data.properties) }}
{% endif %}

{% if data.editions %}
<div class="card">
    <h3>Editions</h3>
    {% for edition in data.editions %}
    <ul>
        <li>
            <a href="/{{ edition.end.label }}/{{ edition.end.properties.uid }}">{{ edition.end.properties.identifier }}</a>
            {% if edition.end.properties.editor %}({{ edition.end.properties.editor }}){% endif %}
        </li>
    </ul>
    {% endfor %}
</div>
{% endif %}

{% if data.relationships %}
<div class="card">
    <h3>Connections</h3>
    {{ macros.connections(data.id, data) }}
</div>
{% endif %}

{% for type, items in data.entities.items() %}
{% if items %}
<div class="card">
    <h3>{{ type | format | capitalize | pluralize }} ({{ items | length }})</h3>
    <ul class="many">
        {% for item in items | sort(attribute="end.properties.identifier") %}
        <li>
            <a href="/{{ item.end.label }}/{{ item.end.properties.uid }}">{{ item.end.properties.identifier }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endfor %}

{% endblock %}

