<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grimoire notes</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/format.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Grimoire <i class="fa fa-book"></i> Metadata</h1>

        <div class="divider"></div>

        <div id="navigation">
            <a href="/grimoires">Grimoires</a>
            <a href-"/about">About</a>
            <a href="/support">Support</a>
        </div>
    </header>

    <div id="content">

    </div>

    <footer>
        <p>
            <a href="http://www.mousereeve.com/">Mouse Reeve</a>
        </p>
    </footer>
</body>
</html>
