{% extends "layout.html" %}
{% block body %}

<div class="card">
    <h2>Categories:</h2>
    <ul class="many">
    {% for group in data | sort(attribute="label") %}
        <li><a href="#{{ group.label }}">{{ group.label | format_rel | capitalize | pluralize }}</a></li>
    {% endfor %}
    </ul>
</div>

<div class="divider"></div>

{% for group in data | sort(attribute="label") %}
<div class="index card" id="{{ group.label }}">
    <h3>{{ group.label | capitalize | pluralize}}</h3>
    <p class="caption">
    {% if group.label == 'author' %}
        For ours purposes, "author" means someone who either wrote a grimoire that falls within our range of interest, or has one attributed to them. That means that King Solomon qualifies, despite none of these works actually being written by him, and Aleister Crowley does not, despite having authored books of magic.
    {% elif group.label == 'editor' %}
        This category does not distinguish between editors and translators, for the sake of keeping the number of categories in check.
    {% endif %}
    </p>
    <ul {% if group.label in ["demon", "olympian_spirit", "angel", "astrological_body", "language"] %} class="many" {% endif %}>
        {% for item in group.nodes | sort(attribute="properties.identifier") %}
        <li>
            <a href="{{ item.link }}">{{ item.properties.identifier }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}
