{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

<h2>{{ data.nodes[0].properties.identifier }}</h2>

{{ macros.description(data) }}

<h3>Connections</h3>
<ul>
{% for rel in data.relationships %}
    <li>
        <a href="/{{ rel.start.labels[0] }}/{{ rel.start.properties.uid }}">{{ rel.start.properties.identifier }}</a>
        {{ rel.type | format_rel }}
        <a href="/{{ rel.end.labels[0] }}/{{ rel.end.properties.uid }}">{{ rel.end.properties.identifier }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
