{% macro description(data) %}

{% if 'content' in data %}
<div class="card" id="main">
    <p>
        {{ data['content'] }}
    </p>
</div>

<div class="divider"></div>
{% endif %}

<h3>Details</h3>
<ul>
{% for field in data %}
    {% if not field in ['uid', 'identifier', 'content'] and data[field]%}
        {% if data[field] is sequence and data[field] is not string %}
        <li class="list">{{ field | format | capitalize }}: {% for l in data[field] %}<span>{{ l }}</span>{% endfor %}</li>
        {% else %}
        <li>{{ field | format | capitalize }}: {{ data[field] }}</li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>

{% endmacro %}



{% macro list(data) %}

<ul>
{% for rel in data.relationships %}
    <li>
        <a href="/{{ rel.start.labels[0] }}/{{ rel.start.properties.uid }}">{{ rel.start.properties.identifier }}</a>
        {{ rel.type | format }}
        <a href="/{{ rel.end.labels[0] }}/{{ rel.end.properties.uid }}">{{ rel.end.properties.identifier }}</a>
    </li>
{% endfor %}
</ul>

{% endmacro %}
