{% macro title(title, label) %}
<h2>{{ title }}</h2>
<p>List of <a href="/{{ label }}">{{ label | format | pluralize }}</a></p>
{% endmacro %}




{% macro content(data) %}

{% if 'content' in data %}
<div class="card" id="main">
    <p>
        {{ data['content'] }}
    </p>
</div>

<div class="divider"></div>
{% endif %}

{% endmacro %}




{% macro details(data) %}

<h3>Details</h3>
<ul>
{% for field in data %}
    {% if not field in ['uid', 'identifier', 'content'] and data[field]%}
        {% if data[field] is sequence and data[field] is not string %}
        <li class="list">{{ field | format | capitalize }}: {% for l in data[field] %}<span>{{ l }}</span>{% endfor %}</li>
        {% else %}
        <li>{{ field | format | capitalize }}: {{ data[field] }}</li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>

{% endmacro %}




{% macro connections(id, data) %}

<ul>
{% for rel in data.relationships %}
    <li>
        {% if rel.start.id == id %}
        <strong>{{ rel.start.properties.identifier | format }}</strong>
        {% else %}
        the {{ rel.start.label | format }} <a href="/{{ rel.start.label }}/{{ rel.start.properties.uid }}">{{ rel.start.properties.identifier }}</a>
        {% endif %}

        {{ rel.type | format }}

        the {{ rel.end.label | format }}
        {% if rel.end.id == id %}
        <strong>{{ rel.end.properties.identifier | format }}</strong>
        {% else %}
        <a href="/{{ rel.end.label }}/{{ rel.end.properties.uid }}">{{ rel.end.properties.identifier }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endmacro %}




{% macro rel_list(data) %}

<ul>
{% for rel in data | sort(attribute="properties.identifier")%}
    <li>
        <a href="/{{ rel.label }}/{{ rel.properties.uid }}">{{ rel.properties.identifier }}</a>
        {% if rel.properties.editor %}({{ rel.properties.editor }}){% endif %}
    </li>
{% endfor %}
</ul>

{% endmacro %}
