{% extends "layout.html" %}
{% block body %}

<p>I build, host, run, and populate this site all by myself on my own time, ad free, because I like doing it. If you like it existing, consider helping out.</p>

<div class="divider"></div>

<p>Buy me a grimoire from my <a href="https://amzn.com/w/548OHG3OU3H8">Amazon.com wish list</a>. Having books around lets me do better research, and also raise my morale.</p>

<div class="divider"></div>

<p>Donate Bitcoin: 1GzffWs4egZPxu51W1Z2xJUffvXqRBnf2f</p>

<div class="divider"></div>

<p>Send corrections, additions, or polite complaints to <a href="mailto:mouse.reeve@gmail.com">mouse.reeve@gmail.com</a></p>

<div class="divider"></div>

<p>Contribute to the site's code on <a href="https://github.com/mouse-reeve/grimoire-site">GitHub</a>. Web design and UX, Neo4j, or python Flask.</p>

{% endblock %}
