body {
    background: #677077;
    font-family: georgia;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    text-transform: uppercase;
}

#title {
    background-image: url('/static/images/books-background.jpg');
    background-position: center;
}

#header-container {
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: Brandon;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding-top: 1.5em;
    padding-bottom: 0.2em;
    margin: 0;
}

h1 .fa {
    color: #b5b5b7;
}

h1 a, h1 a:hover {
    color: #f2b632;
}

header nav {
    background: #181b2c;
    color: #f2b632;
}

header nav > .row {
    padding: 0.6em;
    color: #f2b632;
}

nav li {
    padding: 0.7rem 0;
}

nav .show-for-small li {
    text-align: left;
    margin-left: 0.3em;
    display: block;
    float: left;
}

header nav li span:after {
    font-family: fontawesome;
    font-weight: normal;
    margin: 1.5em;
    content: "\f06e";
}

nav li:last-child span:after {
    content: none;
}

nav a {
    color: #b5b5b7;
    text-decoration: none;
}

nav a:hover, nav a:active {
    color: #677077;
}

nav form div:first-child {
    padding: 0.7rem 0;
    color: #f2b632;
}

#search-bar {
    padding: 0.3em;
    border-radius: 0.6em;
    border: 2px solid #b5b5b7;
    margin: 0;
    margin-top: 0.3em;
    color: #222;
}

.divider {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 2em;
}

.divider:after {
    content: "\f084";
    font-family: fontawesome;
}


h2, h3, h4, h5, h6 {
    font-family: georgia, serif;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0.7em 2em;
    padding: 0;
}

.comma-separated *:after {
    content: ",";
}

.comma-separated *:last-child:after {
    content: "";
}

.caption {
    font-size: 0.75em;
    font-style: italic;
}

#main {
    background: #fefefe;
    padding: 1em 0.5em;
    width: 100%;
    margin: 0;
    padding-bottom: 4em;
}

blockquote {
    color: black;
    border: 0;
    padding: 1em 2em;
}

#content.has-table {
    max-width: 100%;
}

#content a {
    color: #677077;
}

#content a:hover, #content a:active {
    color: #b5b5b7;
}

.card {
    clear: both;
    overflow: auto;
}

.card .many li {
    float: left;
    padding: 0 0.5em;
    width: 10em;
}

.index .card h4 {
    float: left;
    margin: 0;
    padding: 0.5em;
    font-size: 1.3em;
}

#sidebar {
    margin-top: 3em;
    background: #b5b5b7;
    border-radius: 5px;
    padding: 1em;
}

table {
    border-collapse: inherit;
    border-spacing: 2px;
}

tbody th, tbody td {
    padding: 0.2em 0;
}

td, th {
    max-width: 10em;
    min-width: 6em;
    overflow: hidden;
    text-align: center;
}

th {
    background: #fefefe;
    line-height: 1em;
    vertical-align: bottom;
    text-align: right;
}

tr:first-child th {
    text-align: center;
}

tr:last-child th {
    vertical-align: top;
    text-align: center;
}

td.yes {
    background-color: #677077;
}

tr:nth-child(2n) {
    background: #e0e0e0;
}

input, select {
    display: inline;
    width: inherit;
}

footer {
    text-align: center;
    margin: 1em 5em;
}

footer a {
    color: #f2b632;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}
