body {
  background-color: #677077;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 1em; }

h3 {
  font-size: 1.2em;
  font-weight: bold; }

ul {
  margin: 0; }

li {
  list-style-type: none; }

.hidden {
  display: none; }

body {
  line-height: 1.5em;
  font-family: "Georgia", serif; }

h1 {
  font-family: "UnifrakturMaguntia", "Serif"; }

h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif; }

.accordion, .accordion-content {
  border: 0; }

#item-lists a.accordion-title {
  color: #000;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #b5b5b7;
  margin-bottom: 1em; }

#item-lists .accordion-item {
  margin: 0; }

#item-lists .rel-list li {
  margin: 0.2em 0; }

#item-lists h3 {
  font-size: 1.5em; }

.is-active > .accordion-title::before {
  content: "(hide)"; }

.accordion-title::before {
  font-size: 1em;
  content: "(show)"; }

.endpoint {
  margin-bottom: 2em; }

.api .fields {
  max-width: 40em; }

.api h3 {
  font-family: sans-serif; }

.api .method {
  color: #b5b5b7;
  font-family: monospace;
  font-size: 1.2em;
  padding-right: 0.5em; }

.api code {
  background: none;
  border: 0;
  padding: 0; }

.fields td {
  text-align: left; }

.fields td:first-child {
  font-family: monospace;
  width: 8em; }

.info {
  border-left: 1px solid #b5b5b7;
  margin-left: 1em;
  padding-left: 1em; }

.info h4 {
  font-size: 1em;
  font-weight: bold; }

.info ul.labels li {
  background: none; }

.divider {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 1em; }
  .divider:after {
    content: "\f084";
    font-family: "fontawesome"; }
  .divider.minor:after {
    content: "\f068";
    font-family: "fontawesome"; }

.excerpt li {
  list-style-type: inherit; }

.item-content blockquote blockquote {
  border: 0; }

.flag {
  text-transform: uppercase;
  font-size: 0.6875rem;
  cursor: pointer;
  line-height: 1.6em; }

#feedback {
  background: #eee;
  border: 3px solid #2c181b;
  padding: 1em;
  margin: 1em; }

.filter {
  overflow: auto;
  padding: 0.5em;
  background-color: #ededed;
  margin: 0 3em 1em 3em; }

.filter label {
  float: left;
  margin-right: 2em;
  min-width: 9em; }

.filter input[type="submit"] {
  display: block;
  float: none;
  clear: both; }

@media screen and (min-width: 40em) {
  .listcard {
    width: 40%;
    float: left; } }
#map {
  width: 100%;
  height: 25em;
  position: relative; }

.map-slider label {
  text-align: center; }

.map-slider label:first-child {
  text-align: left; }

.map-slider label:last-child {
  text-align: right; }

#date-slider {
  width: 100%; }

.survey {
  padding: 0.6em;
  text-align: center;
  background-color: #eee; }

.survey div {
  width: 80%;
  margin: 0.2em auto;
  padding: 0.4em 1.5em;
  background-color: #677077;
  border-radius: 1.5em;
  position: relative; }

.survey div::before, .survey div::after {
  content: '\f005';
  font-family: fontawesome;
  position: absolute;
  top: 23%; }

.survey div::before {
  left: 0.5em; }

.survey div::after {
  right: 0.5em; }

.survey a {
  color: #f2b632; }

.timeline {
  margin-left: 5em;
  padding-left: 1em;
  border-left: 1px solid black; }

.timeline .date {
  height: 1em;
  overflow: visible;
  position: relative;
  right: 4em;
  clear: left;
  margin: 0;
  top: 0.8em; }

.timeline .century {
  min-height: 3em; }

.timeline div {
  min-height: 0.1em; }

.relevant {
  font-weight: bold;
  color: black !important; }

.update {
  margin-bottom: 1em; }
  .update .meta {
    padding-bottom: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 0.9em;
    margin-left: 1em; }
  .update time {
    color: #677077;
    margin-right: 0.6em; }
  .update .meta span::before {
    content: "~";
    font-style: normal;
    margin-right: 0.6em; }

header {
  text-align: center; }

#header-container {
  background: #2c181b; }

h1 {
  font-weight: normal;
  padding: 0.2em;
  margin: 0; }

h1 .fa {
  color: #b5b5b7; }

h1 a, h1 a:hover {
  color: #f2b632; }

header label {
  color: #f2b632; }

header nav {
  background: #181b2c;
  color: #f2b632; }

header nav > .row {
  padding: 0.6em;
  color: #f2b632; }

header div.menu-button {
  margin: 0.5em 0; }

#mobileMenu {
  margin-top: 3em; }

#mobileMenu li {
  padding: 0.2em;
  margin: 0em;
  text-align: left; }

nav li {
  padding: 0.7rem 0; }

nav.show-for-small form {
  float: right; }

header nav li span:after {
  font-family: "fontawesome";
  font-weight: normal;
  margin: 1.5em;
  content: "\f06e"; }

header nav li:last-child span:after {
  content: none; }

nav a {
  color: #b5b5b7;
  text-decoration: none; }

nav a:hover, nav a:active {
  color: #677077; }

nav form div:first-child {
  padding: 0.7rem 0; }

#search-bar, #m-search-bar {
  padding: 0.3em;
  border-radius: 0.6em;
  border: 2px solid #b5b5b7;
  margin: 0;
  margin-top: 0.3em;
  color: #222; }

#m-search input {
  width: 80%;
  float: left; }
#m-search button {
  float: right;
  height: 3em; }

.flag {
  float: right; }

#main {
  background: #fefefe;
  padding: 1em 0.5em;
  width: 100%;
  margin: 0;
  padding-bottom: 4em; }

#content li {
  margin: 0.7em 2.5em;
  padding: 0; }

#main div.has-table {
  max-width: 100%; }

#main a, #main .link {
  color: #677077;
  cursor: pointer; }
  #main a:hover, #main a:active, #main .link:hover, #main .link:active {
    color: #b5b5b7; }

.comma-separated > *:after {
  content: ", "; }

.comma-separated > *:last-child:after {
  content: ""; }

.comma-and > *:last-child:before {
  content: "and "; }

.comma-and > *:first-child:before {
  content: ""; }

.caption {
  font-size: 0.75em;
  font-style: italic; }

.item-content blockquote {
  border-left: 5px solid #efefef;
  padding: 0 1em;
  margin: 0 1em;
  color: #000; }
  .item-content blockquote li {
    margin: 0 1em !important;
    list-style-type: auto; }

blockquote {
  border: 0;
  padding: 1em 2em; }

blockquote p {
  color: #000; }

.card {
  clear: both;
  overflow: auto; }

.card .many li {
  float: left;
  padding: 0 0.5em;
  width: 10em; }

.index .card h4 {
  float: left;
  margin: 0;
  padding: 0.5em;
  font-size: 1.3em; }

table {
  border-collapse: inherit;
  border-spacing: 2px; }

tbody th, tbody td {
  padding: 0.2em 0; }

td, th {
  max-width: 10em;
  min-width: 6em;
  overflow: hidden;
  text-align: center; }

th {
  background: #fefefe;
  line-height: 1em;
  vertical-align: bottom;
  text-align: right; }

tr:first-child th {
  text-align: center; }

tr:last-child th {
  vertical-align: top;
  text-align: center; }

td.yes {
  background-color: #677077; }

tr:nth-child(2n) {
  background: #e0e0e0; }

input, select {
  display: inline;
  width: inherit; }

.button {
  background-color: #677077;
  padding: 0.5em 1em; }

.image-source {
  display: block; }

.social {
  padding-top: 1em;
  font-weight: bold; }

#sidebar {
  border: 1px solid #aaa;
  background: #eee;
  padding: 1em; }

#sidebar a:hover {
  color: #222; }

#sidebar li {
  margin: 0.4em 0; }

#sidebar h3 {
  border-bottom: 1px solid #222; }

.detail-box {
  margin-bottom: 2em; }

#sidebar table {
  width: 100%; }

#sidebar th {
  width: 6em; }

#sidebar th, #sidebar td {
  background-color: #eee;
  text-align: left;
  vertical-align: top;
  margin: 0.2em 0;
  line-height: 1.2em; }

footer {
  text-align: center;
  margin: 1em 5em; }

footer a {
  color: #f2b632;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em; }

.infopanel h3 {
  text-align: center;
  border-bottom: 1px solid #b5b5b7;
  width: 75%;
  margin-right: auto;
  margin-left: auto; }
.infopanel blockquote {
  padding-top: 0;
  padding-bottom: 0; }
.infopanel a {
  font-weight: bold; }

/*# sourceMappingURL=app.css.map */
