{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

<div class="medium-12 columns">
    <h2>
        {% if item_1 %}
        Comparing
        <a href="{{ item_1.link }}">
            <em>{{ item_1.props.identifier | unthe }}</em>
        </a>
        and
        <a href="{{ item_2.link }}">
            <em>{{ item_2.props.identifier | unthe }}</em>
        </a>
        {% else %}
        Compare Grimoires
        {% endif %}
    </h2>
</div>

<div id="content" class="medium-12 columns">
    {% if item_1 %}
    <!-- Graph connections -->
    <div class="card">
        <p>
        {% for rel in self_rels %}
            <em>{{ rel['start']['props']['identifier'] | unthe }}</em>
            {{ rel['type'] | format }}
            <em>{{ rel['end']['props']['identifier'] | unthe }}</em>.
        {% endfor %}
        </p>

        {% set rels = same['start'] %}
        {% if rels %}
        <p>
            Each {{ rels[0]['start'][0].label | format }}
            <span class="comma-separated comma-and">
            {% for rel in rels | sort(attribute="type") %}
            <span>
                {{ rel.type | format }}
                <span>
                {% if not rel['end'].label in ['person', 'author'] %}the{% endif %}
                {% if rel['end'] | count > 1 %}{{ rel['end'][0].label | pluralize }}{% else %}{{ rel['end'][0].label | format }}{% endif %}
                <span class="comma-separated comma-and">
                    {% for s in rel['end'] %}<span><strong><a href="/{{ s.label }}/{{ s.props.uid }}">{{ s.props.identifier | unthe }}</a></strong></span>{% endfor %}</span></span></span>{% endfor %}.</span>
        </p>
        {% endif %}

        {% set rels = same['end'] %}
        {% if rels %}
        <p>
            <span class="comma-separated comma-and">
            {% for rel in rels | sort(attribute="type") %}
                <span>
                {% if not rel['start'][0].label in ['person', 'author'] %}
                    The
                    {% if rel['start'] | count > 1 %}{{ rel['start'][0].label | pluralize }}{% else %}{{ rel['start'][0].label | format }}{% endif %}
                {% endif %}
                <span class="comma-separated comma-and">
                {% for s in rel['start'] %}
                    <span><strong><a href="/{{ s.label }}/{{ s.props.uid }}">{{ s.props.identifier | unthe }}</a></strong></span>
                {% endfor %}
                </span>
                {{ rel.type | format }}</span>{% endfor %}</span>
            both {{ rels[0]['end'][0].label | format | pluralize }}.
        </p>
        {% endif %}
    </div>

    <div class="divider"></div>

    <!-- lists -->
    {% if shared_list %}
    <div class="card">
        <div id="item-list">
            <ul class="card accordion" data-accordion data-allow-all-closed="true" data-accordion data-multi-expand="true">
            {% for (section, items) in shared_list.items() %}
                {% if items | count %}
                <li class="accordion-item medium-5 columns {% if not default_collapse %}is-active{% endif %}" data-accordion-item>
                    <a class="accordion-title"><h3>{{ section | pluralize | capitalize }} in both {{ item_1.label | pluralize }} ({{ items | count }})</h3></a>
                    <div class="accordion-content" data-tab-content>
                        {{ macros.rel_list(items) }}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!-- props -->
    <div class="card">
        <h3>Properties Comparison</h3>
        <table>
            <tr>
                <td></td>
                <th>{{ item_1.props.identifier | unthe }}</th>
                <th>{{ item_2.props.identifier | unthe }}</th>
            </tr>
            {% for prop in props %}
            <tr>
                <td>{{ prop | capitalize }}</td>
                {% for i in [0, 1] %}
                <td class="comma-separated">
                    {% for item in props[prop][i] %}
                    {% if item.link %}
                    <span><a href="{{ item.link }}">{{ item.text }}</a></span>
                    {% elif not item.text is number and "http" in item.text %}
                    <span><a href="{{ item.text }}" target="_blank">{{ item.text | shortlink }}</a></span>
                    {% else %}
                    <span>{{ item.text }}</span>
                    {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    <div class="divider"></div>

    {% if grimoires %}
    <h3>Select Grimoires to Compare</h3>
    <form method="post" action="/compare">
        <select name='grim1' required>
            <option></option>
            {% for grimoire in grimoires | sort(attribute="props.identifier") %}
            <option value="{{ grimoire.props.uid }}">{{ grimoire.props.identifier }}</option>
            {% endfor %}
        </select>
        and
        <select name='grim2' required>
            <option></option>
            {% for grimoire in grimoires | sort(attribute="props.identifier") %}
            <option value="{{ grimoire.props.uid }}">{{ grimoire.props.identifier }}</option>
            {% endfor %}
        </select>
        <input class="button" type="submit" value="Compare">
    </form>
    {% endif %}
</div>
{% endblock %}

