{% extends "layout.html" %}
{% block body %}

<blockquote>
    <strong>Grimoire</strong> <em>n.</em>
    a book of magic spells and invocations. From the mid 19th century: French, alteration of grammaire (grammar).
    <br>
    <em><a href="https://www.oxforddictionaries.com/us/definition/american_english/grimoire">Oxford English
        Dictionary</a></em>
</blockquote>

<div class="divider"></div>

<p>
    This site is a collection of linked pieces of information about grimoires, focussing (with some distraction), on
    early modern Western European texts.
    The goal is to look at the connections and relationships within the metadata and subject matter of these grimoires,
    and attempt to collect factual information about their provenance and historical context.
</p>

<div class="divider"></div>

<h2>Grimoires</h2>
{% if grimoires %}
<ul>
    {% for grimoire in grimoires %}
    <li><a href="/grimoire/{{ grimoire.uid }}">{{ grimoire.identifier }}</a> ({{ grimoire.date }})</li>
    {% endfor %}
</ul>
{% else %}
<p>Sorry, we're unable to access the database at this time.</p>
{% endif %}

{% endblock %}
