{% extends "layout.html" %}
{% block body %}

<div id="content">
    <h2>All Content</h2>
    {% for group in data | sort(attribute="label") %}
    <div class="index card" id="{{ group.label }}">
        <h3>{{ group.label | pluralize| capitalize }}</h3>
        <p class="caption">
            {% if group.label == 'editor' %}
            This category does not distinguish between editors and translators, for the sake of keeping the number of
            categories in check.
            {% endif %}
        </p>
        <ul {% if not group.label in ["author", "grimoire", "edition", "editor", "spell"] %} class="many" {% endif %}>
        {% for item in group.nodes | sort(attribute="properties.identifier") %}
        <li>
            <a href="{{ item.link }}">{{ item.properties.identifier | capitalize }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>

    <div class="divider"></div>

    {% endfor %}
</div>
{% endblock %}
