{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

<div class="medium-12 columns">
    {% if label %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/{{ label }}">{{ label | pluralize }}</a></li>
        <li class="current">{{ title | unthe }}</li>
    </ul>

    {% endif %}

    <h2>
        {{ title | unthe }}{% if label %} ({{ label | capitalize }}){% endif%}
    </h2>
</div>

<div id="content" class="medium-8 columns">

    <!-- Text description, if available -->
    <div class="card item-content">
        <p>
            {{ data.content | safe }}
        </p>

        <div class="find-book">
            {% if data.buy %}
            <strong><a href="{{ data.buy }}" target="_blank">Purchase this {{ label }}</a></strong>
            {% endif %}

            {% if data.buy and label in ['book', 'grimoire', 'edition'] %} <em>- or -</em> {% endif %}

            {% if label in ['book', 'grimoire', 'edition'] %}
            Find a library copy on <strong><a href="https://www.worldcat.org/search?qt=worldcat_org_all&q={{ title }}" target="_blank">WorldCat</a></strong>
            {% endif %}
        </div>
    </div>


    <div class="divider"></div>

    <!-- Graph connections -->
    {% if data.relationships %}
    <div class="card">
        {% for rel in data.relationships | sort(attribute="type") %}
        <p>
        {% if rel.start[0].id == data.id %}
            This {{ rel.start[0].label | format }}
        {% else %}
            {% if not rel.start[0].label in ['person', 'author'] %}
            The
            {% if rel.start | count > 1 %}{{ rel.start[0].label | pluralize }}{% else %}{{ rel.start[0].label | format }}{% endif %}
            {% endif %}
            <span class="comma-separated comma-and">
            {% for s in rel.start %}
                <span><strong><a href="/{{ s.label }}/{{ s.properties.uid }}">{{ s.properties.identifier | unthe }}</a></strong></span>
            {% endfor %}
            </span>
        {% endif %}

            {{ rel.type | format }}

        {% if rel.end[0].id == data.id %}
            this {{ rel.end[0].label | format }}.
        {% else %}
            {% if not rel.end[0].label in ['person', 'author'] %}
            the
            {% if rel.end | count > 1 %}{{ rel.end[0].label | pluralize }}{% else %}{{ rel.end[0].label | format }}{% endif %}
            {% endif %}
            <span class="comma-separated comma-and">
            {% for e in rel.end %}
                <span><strong><a href="/{{ e.label }}/{{ e.properties.uid }}">{{ e.properties.identifier | unthe }}</a></strong></span>
            {% endfor %}
            </span>
        {% endif %}
        </p>
        {% endfor %}
    </div>
    {% endif %}

    {% if data.main %}
    <div class="card">
        {% for section in data.main %}
        <h3>{{ section.title | capitalize }}</h3>
        {{ macros.rel_list(section.data, section.many) }}
        {% endfor %}
    </div>
    {% endif %}

</div>

<div id="sidebar" class="medium-4 columns">
    {% if data.has_details %}
    <div class="detail-box">
        <h3>Details</h3>
        <table>
            {% for field in data.details | sort %}
            <tr>
                <th>
                    {{ field | capitalize }}
                </th>
                <td class="comma-separated">
                    {% for item in data.details[field] %}
                    {% if item.link %}
                    <span><a href="{{ item.link }}">{{ item.text }}</a></span>
                    {% elif not item.text is number and "http" in item.text %}
                    <span><a href="{{ item.text }}" target="_blank">{{ item.text | shortlink }}</a></span>
                    {% else %}
                    <span>{{ item.text }}</span>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% for section in data.sidebar %}
    <div class="detail-box">
        <h3>{{ section.title | capitalize }}</h3>
        {{ macros.rel_list(section.data) }}
    </div>
    {% endfor %}

    {% for section in sidebar %}
    <div class="detail-box">
        <h3>{{ section.title }}</h3>
        <ul>
            {% for item in section.data %}
            <li><a href="{{ item.link }}">{{ item.properties.identifier | unthe }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
