{% import 'macros.html' as macros %}
{% import 'timeline-macro.html' as timeline %}
{% extends "layout.html" %}
{% block body %}

<div class="medium-12 columns">

    {% if label %}
    <!-- BREADCUMBS -->
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        {% if data.parent_label %}
        <li><a href="{{ data.parent_label.link }}">{{ data.parent_label.props.identifier | unthe }}</a></li>
        {% else %}
        <li><a href="/{{ label }}">{{ label | pluralize }}</a></li>
        {% endif %}
        <li class="current">{{ title | unthe | trim }}</li>
    </ul>
    {% endif %}

    <!-- HEADING -->
    <div class="row">
        <div class="medium-8 columns">
            <h2>
            {% if label != 'spell' %}
                {{ title | unthe }}
            {% else %}
                {{ title }}
            {% endif %}
                {% if label %} ({{ label | capitalize }}){% endif %}
            </h2>
        </div>
        <div class="medium-4 columns social">
            Share on
            <a href="https://twitter.com/intent/tweet?text=The {{ label | format }} {{ title | unthe }}&url=https://www.grimoire.org{{ data.link }}" target="_blank"><i class="fa fa-twitter"></i> twitter</a> or
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.grimoire.org{{ data.link }}" target="_blank"><i class="fa fa-facebook"></i> facebook</a>
        </div>
    </div>
</div>

<!-- CONTENT -->

<div id="content" class="medium-8 columns">
    <!-- Outlinks to read grimoires -->
    {% if data.buy or data.props.online_edition or data.props.online_facsimile or data.props.isbn %}
    <div class="card readlinks buttongroup">
        {% if data.props.online_edition %}
            {% if data.props.online_edition is string %}
            <a class="button" href="{{ data.props.online_edition }}" target="_blank">Read online</a>
            {% else %}
            <a class="button" href="{{ data.props.online_edition[0] }}" target="_blank">Read online</a>
            {% endif %}
        {% endif %}
        {% if data.props.online_facsimile %}<a class="button" href="{{ data.props.online_facsimile }}" target="_blank">View original</a>{% endif %}
        {% if data.buy %}<a class="button" href="{{ data.buy }}" target="_blank">Purchase</a>{% endif %}
        {% if data.props.isbn %}<a class="button" href="https://www.worldcat.org/search?qt=worldcat_org_all&q={{ data.props.isbn }}" target="_blank">Search libraries</a>{% endif %}
    </div>
    {% endif %}

    <!-- Text description, if available -->
    <div class="card item-content">
        <p>
            {{ data.content | safe }}
        </p>
        {% if data.excerpts %}
        {% for excerpt in data.excerpts %}
        {{ macros.excerpt(excerpt) }}
        {% endfor %}
        {% endif %}
    </div>

    {% if data.props.full_version %}
    <ul class="tabs" data-tabs id="fulltext-tabs">
        <li class="tabs-title is-active"><a href="#fulltext" aria-selected="true">Text of {{ data.props.identifier | unthe }}</a></li>
        <li class="tabs-title"><a href="#timeline">Timeline</a></li>
        <li class="tabs-title"><a href="#info">More about this text</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="fulltext-tabs" id="tabs-top">
        <div class="tabs-panel is-active" id="fulltext">
            {% include 'grimoires/' + data.full_version %}
            <div id="back-to-top">
                <div data-sticky-container>
                    <div class="sticky" data-sticky data-stick-to="bottom" data-anchor="fulltext-content">
                        <a class="button" href="#tabs-top">Back to top</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="tabs-panel" id="info">
    {% endif %}
            <!-- Graph connections -->
            {% if data.rels %}
            <div class="card">
                {% for rel in data.rels | sort(attribute="type") %}
                <p>
                {% if rel.start[0].id == data.id %}
                    This {{ rel.start[0].label | format }}
                {% else %}
                    {% if not rel.start[0].label in ['person', 'author'] %}
                    The
                    {% if rel.start | count > 1 %}{{ rel.start[0].label | pluralize }}{% else %}{{ rel.start[0].label | format }}{% endif %}
                    {% endif %}
                    <span class="comma-separated comma-and">
                    {% for s in rel.start %}
                        <span><strong><a href="/{{ s.label }}/{{ s.props.uid }}">{{ s.props.identifier | unthe }}</a></strong></span>
                    {% endfor %}
                    </span>
                {% endif %}

                    {{ rel.type | format }}

                {% if rel.end[0].id == data.id %}
                    this {{ rel.end[0].label | format }}.
                {% else %}
                    {% if not rel.end[0].label in ['person', 'author'] %}
                    the
                    {% if rel.end | count > 1 %}{{ rel.end[0].label | pluralize }}{% else %}{{ rel.end[0].label | format }}{% endif %}
                    {% endif %}
                    <span class="comma-separated comma-and">
                    {% for e in rel.end %}
                        <span><strong><a href="/{{ e.label }}/{{ e.props.uid }}">{{ e.props.identifier | unthe }}</a></strong></span>
                    {% endfor %}
                    </span>
                {% endif %}
                </p>
                {% endfor %}
            </div>
            {% endif %}

            <!-- illustrations -->
            {% if data.images %}
            {% for image in data.images %}
            {% if image.props.type == 'illustration' %}
            <div class="illustration card">
                <h3>{{ image.props.identifier }}</h3>
                <a href="/static/images/content/{{ image.props.filename }}" target="_blank"><img src="/static/images/content/{{ image.props.filename }}" alt="{{image.props.identifier }}"></a>
                {% if image.props.source %}
                <small class="image-source"><a href="{{ image.props.source }}">source: {{ image.props.source | shortlink }}</a></small>
            {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <!-- lists -->
            {% if data.main %}
            <div class="divider"></div>

            <div id="item-lists">
                <ul class="card accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
                    {% for section in data.main %}
                    <li class="accordion-item is-active" data-accordion-item>
                        <a class="accordion-title"><h3>{{ section.title | capitalize }} ({{ section.data | count }})</h3></a>
                        <div class="accordion-content" data-tab-content>
                            {{ macros.rel_list(section.data, section.many) }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

    {% if data.props.full_version %}
        </div>
        <div class="tabs-panel" id="timeline">
    {% endif %}
            {% if data.timeline %}
            <div class="divider"></div>

            <div class="card">
                <h3>Timeline of related events</h3>
                {{ timeline.timeline(data.timeline, start=data.start_date, end=data.end_date) }}
            </div>
            {% endif %}
    {% if data.props.full_version %}
        </div>
    </div>
    {% endif %}
</div>

<div id="sidebar" class="medium-4 columns">
    {% if data.has_details %}
    <div class="detail-box">
        <h3>Details</h3>
        <table>
            {% for field in data.details | sort %}
            <tr>
                <th>
                    {{ field | capitalize }}
                </th>
                <td class="comma-separated">
                    {% for item in data.details[field] %}
                    {% if item.link %}
                    <span><a href="{{ item.link }}">{{ item.text }}</a></span>
                    {% elif not item.text is number and "http" in item.text %}
                    <span><a href="{{ item.text }}" target="_blank">{{ item.text | shortlink }}</a></span>
                    {% else %}
                    <span>{{ item.text }}</span>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if data.images %}
    <div class="detail-box sidebar-image">
        {% for image in data.images %}
        {% if image.props.type != 'illustration' %}
        <h3>{{ image.props.identifier }}</h3>
        <a href="/static/images/content/{{ image.props.filename }}" target="_blank"><img src="/static/images/content/{{ image.props.filename }}" alt="{{image.props.identifier }}"></a>
        {% if image.props.source %}
        <small class="image-source"><a href="{{ image.props.source }}">source: {{ image.props.source | shortlink }}</a></small>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% for section in data.sidebar %}
    <div class="detail-box">
        <h3>{{ section.title | capitalize }}</h3>
        {{ macros.rel_list(section.data) }}
    </div>
    {% endfor %}

    {% for section in sidebar %}
    <div class="detail-box">
        <h3>{{ section.title }}</h3>
        <ul>
            {% for item in section.data %}
            <li>
                <a href="{{ item.link }}">{{ item.props.identifier | unthe }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
