{% macro rel_list(data, many='') %}
<div class="card">
    <ul{% if many %} class="many"{% endif %}>
        {% for rel in data | sort(attribute="properties.identifier")%}
        <li>
            <a href="/{{ rel.label }}/{{ rel.properties.uid }}">{{ rel.properties.identifier }}</a>
            {% if rel.properties.editor %}({{ rel.properties.editor | unthe }}){% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}


{% macro alpha_list(items, many='') %}
<div class="index card">
    {% for letter, list in (items | alphabuckets).items() | sort %}
    <div class="card {{many}}">
        <h4>{{ letter }}</h4>
        <ul>
            {% for item in list | sort(attribute="properties.identifier") %}
            <li>
                <a href="{{ item.link }}">{{ item.properties.identifier | capitalize }}</a>
                {% if item.properties.alternate_names %}({{ item.properties.alternate_names }}){% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endmacro %}

