{% macro rel_list(data, many='') %}
<div class="card">
    <ul class="rel-list {% if many %} many{% endif %}">
        {% for rel in data | sort(attribute="properties.identifier")%}
        <li>
            <a href="/{{ rel.label }}/{{ rel.properties.uid }}">{{ rel.properties.identifier }}</a>
            {% if rel.properties.editor %}({{ rel.properties.editor | unthe }}){% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}


{% macro alpha_list(items, many='') %}
<div class="index card">
    {% for letter, list in (items | alphabuckets).items() | sort %}
    <div class="card {{many}}">
        <h4>{{ letter }}</h4>
        <ul>
            {% for item in list | sort(attribute="properties.identifier") %}
            <li>
                <a href="{{ item.link }}">{{ item.properties.identifier | capitalize }}</a>
                {% if item.properties.alternate_names %}({{ item.properties.alternate_names }}){% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endmacro %}


{% macro excerpt(excerpt) %}
<p>
    From {% if excerpt.properties.source_url and not excerpt.properties.editor %}<a href="{{ excerpt.properties.source_url }}" target="_blank">{% endif %}
    <em>{{ excerpt.properties.source_title }}</em>{% if excerpt.properties.source_url and not excerpt.properties.editor %}</a>{% endif %}{% if excerpt.properties.editor %}, {% if excerpt.properties.source_url %}<a href="{{ excerpt.properties.source_url }}" target="_blank">{% endif %}{{ excerpt.properties.editor }}{% if excerpt.properties.source_url %}</a>{% endif %} edition{% endif %}{% if excerpt.properties.source_year %} ({{ excerpt.properties.source_year }}){% endif %}:
    <blockquote class="excerpt">
        <p><strong>{{ excerpt.properties.identifier }}</strong></p>
        <p>{{ excerpt.properties.content | safe }}</p>
    </blockquote>
</p>
{% endmacro %}
