{% macro title(title, label) %}
<h2>{{ title }}</h2>
{% if label %}
<p>List of <a href="/{{ label }}">{{ label | format | pluralize }}</a></p>
{% endif %}
{% endmacro %}


{% macro content(data) %}

{% if 'content' in data %}
<div class="card">
    <p>
        {{ data['content'] }}
    </p>
</div>

<div class="divider"></div>
{% endif %}

{% endmacro %}


{% macro details(data) %}

<h3>Details</h3>
<ul>
    {% for field in data %}
    {% if not field in ['uid', 'identifier', 'content'] and data[field]%}
    {% if data[field] is sequence and data[field] is not string %}
    <li class="list">
        {{ field | capitalize }}:
        <ul>
            {% for l in data[field] %}
            <li><span>{{ l }}</span></li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
    <li>
        {{ field | capitalize }}:
        {% if "http" in data[field] %}
        <a href="{{ data[field] }}" target="_blank">{{ data[field] }}</a>
        {% else %}
        {{ data[field] }}
        {% endif %}
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

{% endmacro %}


{% macro connections(id, data) %}

<ul>
    {% for rel in data.relationships %}
    <li>
        {% if rel.start.id == id %}
        this {{ rel.start.label | format }}
        {% else %}
        {% if not rel.start.label in ['person', 'author'] %}The {{ rel.start.label | format }}{% endif %}
        <strong><a href="/{{ rel.start.label }}/{{ rel.start.properties.uid }}">{{ rel.start.properties.identifier
            }}</a></strong>
        {% endif %}

        {{ rel.type | format }}

        {% if rel.end.id == id %}
        this {{ rel.end.label | format }}
        {% else %}
        {% if not rel.end.label in ['person', 'author'] %}the {{ rel.end.label | format }}{% endif %}
        <strong><a href="/{{ rel.end.label }}/{{ rel.end.properties.uid }}">{{ rel.end.properties.identifier
            }}</a></strong>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endmacro %}


{% macro rel_list(data) %}

<ul>
    {% for rel in data | sort(attribute="properties.identifier")%}
    <li>
        <a href="/{{ rel.label }}/{{ rel.properties.uid }}">{{ rel.properties.identifier }}</a>
        {% if rel.properties.editor %}({{ rel.properties.editor }}){% endif %}
    </li>
    {% endfor %}
</ul>

{% endmacro %}


{% macro alpha_list(items, many='') %}

<div class="index card">
    {% for letter, list in items.items() | sort %}
    <div class="card {{many}}">
        <h4>{{ letter }}</h4>
        <ul>
            {% for item in list | sort(attribute="properties.identifier") %}
            <li>
                <a href="{{ item.link }}">{{ item.properties.identifier | capitalize }}</a>
                {% if item.properties.alternate_names %}({{ item.properties.alternate_names }}){% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% endmacro %}



{% macro worldcat(term) %}
<p>
    Find a copy on
    <a href="https://www.worldcat.org/search?qt=worldcat_org_all&q={{ term }}" target="_blank">WorldCat</a>
</p>
{% endmacro %}
