{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

<div class="medium-12 columns">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="/spell">Spells</a></li>
    </ul>

    <h2>Spells</h2>
</div>


<div id="content" class="medium-12 columns">
    <div class="filter row">
        <form method="get" action="spell">
            <div class="columns medium-2">
                <h3>
                    Sort by:
                </h3>
            </div>
            <div class="columns medium-6">
                <select name="sort">
                    <option selected value="outcome">outcome</option>
                    <option value="grimoire">grimoire</option>
                    <option value="alphabetical">alphabetically</option>
                </select>
            </div>
            <div class="columns medium-4">
                <input class="button" type="submit" value="Sort">
            </div>
        </form>
    </div>
    <p><a href="/table/spell">Table of which spells appear in which grimoires</a></p>


    <div id="item-lists">
        <ul class="card accordion" data-accordion data-allow-all-closed="true" data-accordion data-multi-expand="true">
        {% for outcome, spell_list in spells.items() | sort %}
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title"><h3>{{outcome}} ({{ spell_list | count }})</h3></a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        {% for spell in spell_list | sort(attribute='properties.identifier') %}
                        <li><a href="{{ spell.link }}">{{ spell.properties.identifier }}</a>{% if spell.properties.grimoire %} (<span class="comma-separated">{% for grim in spell.properties.grimoire %}<span>{{ grim | unthe }}</span>{% endfor %}</span>){% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

