{% extends "layout.html" %}
{% block body %}

<p>I build, host, run, and populate this site all by myself on my own time, ad free, because I like doing it. If you
    like it existing, consider helping out.</p>

<div class="divider"></div>

<ul>
    <li>Buy me a grimoire from my <a href="https://amzn.com/w/548OHG3OU3H8">amazon.com wish list</a>.</li>
    <li>Donate Bitcoin: 1GzffWs4egZPxu51W1Z2xJUffvXqRBnf2f</li>
    <li>Send corrections, additions, or polite complaints to <a href="mailto:mouse.reeve@gmail.com">mouse.reeve@gmail.com</a>
    </li>
</ul>

{% endblock %}
