{% extends "layout.html" %}
{% block body %}
<div id="content">
    <p>
        I build, host, run, and research this site all by myself on my own time,
        ad-free, because I like doing it. If you found it useful, consider helping out.</p>

    <div class="divider"></div>

    <ul>
        <li>Buy me a grimoire from my <a href="https://amzn.com/w/548OHG3OU3H8" target="_blank">amazon.com wish list</a>.</li>
        <li>Donate Bitcoin: 19AjVU1ii1vCQu7A9PvKpBU6LCJ4mFCeAs</li>
        <li>Send corrections, additions, or polite complaints to
            <a href="mailto:mousereeve@riseup.net">mousereeve@riseup.net</a>
        </li>
    </ul>
</div>
{% endblock %}
