{% extends "layout.html" %}
{% block body %}
<div class="medium-12 columns">
    <p>
        Grimoire.org is a one-person project, run out of pocket in spare time. It uses Amazon affiliate links, but those generate less money than the hosting costs alone. If you'd like to help out, here's how you can do that:
    </p>

    <div class="divider"></div>

    <ul>
        <li><a href="https://www.paypal.me/oulipo" target="_blank">Paypal.me</a></li>
        <li>Buy me a grimoire from my <a href="https://amzn.com/w/548OHG3OU3H8" target="_blank">amazon.com wish list</a>.</li>
        <li>Donate Bitcoin: 1KknvdgxfVJjVTfS3P4merVm7ZqdFnuSpp</li>
        <li>Send corrections, additions, or polite complaints to
            <a href="mailto:info@grimoire.org">info@grimoire.org</a>
        </li>
    </ul>
</div>

{% endblock %}
