{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block body %}

<h2>Timeline</h2>

<div class="filter">
    <h3>Filter</h3>
    <form method="post" action="/timeline">
    {% for label in labels %}
        <label for="{{ label }}"><input type="checkbox" name="{{ label }}">{{ label }}</label>
    {% endfor %}
    </form>
</div>

<div id="content" class="timeline">
    {% for c in range(start, end+100, 100) %}
    <div class="century">
        {% if c in data %}
        <h3 class="date">{{ c }}</h3>
        {% if c in data and data[c]['items'] %}
        <div class="imprecise">
            <strong>In this century:</strong>
            <span class="comma-separated">
                {% for item in data[c]['items'] %}
                <span>
                    <a href="{{ item.link }}">{{ item.properties.identifier | unthe }}</a>{% if item.note %} {{ item.note }}{% endif %}</span>
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {% for d in range(0, 100, 10) %}
        <div class="decade">
            {% if c in data and c+d in data[c].decades and data[c].decades[c+d]['items'] %}
            <p class="date">{{ c+d }}</p>
            <div class="imprecise">
                <strong>In this decade:</strong>
                <span class="comma-separated">
                    {% for item in data[c].decades[c+d]['items'] %}
                    <span>
                        <a href="{{ item.link }}">{{ item.properties.identifier | unthe }}</a>{% if item.note %} {{ item.note }}{% endif %}</span>
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            {% for y in range(0, 10) %}
            <div class="year">
                {% if c in data and c+d in data[c].decades and c+d+y in data[c].decades[c+d].years and data[c].decades[c+d].years[c+d+y]['items'] %}
                {% if not c+d+y == c %}
                <p class="date">{{ c+d+y }}</p>
                {% endif %}
                <span class="comma-separated">
                    {% for item in data[c].decades[c+d].years[c+d+y]['items'] %}
                    <span>
                        <a href="{{item.link}}">{{ item.properties.identifier | unthe }}</a>{% if item.note %} {{ item.note }}{% endif %}</span>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}

